<div class="modal-contents modal">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Forgot Password</h4>
		<button type="button" (click)="onCloseModal()" class="close" data-dismiss="modal">&times;</button>
	</div>
	<!-- Modal body -->
	<div class="modal-body">
		<!-- error handler -->
		<div class="alert alert-danger" role="alert" *ngIf="error">
			<h5 class="alert-heading text-center">Error!</h5>
			<p class="mb-0 text-center">{{error}}</p>
		</div>
		<!-- handler end -->
		<form class="bootstrap-form needs-validation LoginForm" [formGroup]="forgetForm"
			(ngSubmit)="onSubmitEmailOrMobile(forgetForm.value)" novalidate>
			<p>Enter your registered email address or mobile number to reset your password</p>
			<br><br>
			<div class="form-group">
				<label for="username" class="text-uppercase text-primary">Email Address/Mobile
					Number<span class="required-field"></span></label>
				<input type="text" formControlName="email" class="form-control" id="email" name="email"
					placeholder="Enter email address/mobile number" autocomplete="off" required>
				<small class="text-danger"
					*ngIf="forgetForm.controls['email'].hasError('required') && forgetForm.controls['email'].dirty">This
					field is required</small>
				<small class="text-danger"
					*ngIf="forgetForm.controls['email'].hasError('pattern') && (forgetForm.controls['email'].dirty || forgetForm.controls['email'].touched)">Please
					enter valid email address or phone number</small>
			</div>
			<br>
			<div class="p-3">
				<button type="submit" class="btn btn-primary btn-lg btn-block button-contactForm">Send
					OTP</button>
			</div>
		</form>
	</div>

</div>