.custom-tabsnew li.nav-item a {
  border: 0;
  border-radius: 0;
}

.custom-tabsnew li.nav-item {
  border: 1px solid #0097F6;
  margin-right: -1px;
  border-radius: 8px;
  overflow: hidden;
}

/* .custom-tabs li.nav-item:first-child{border-top-right-radius:0;border-bottom-right-radius:0;}
.custom-tabs li.nav-item:last-child{border-top-left-radius:0;border-bottom-left-radius:0;}  */
.custom-tabsnew li.nav-item a.active {
  background-color: #0097F6;
  color: #fff;
}

.cursr {
  cursor: pointer;
}

.ng-select.customSpeciality ::ng-deep .ng-select-container {
  border: 1px solid #f0e9ff;
}

.ng-select.custom2 ::ng-deep .ng-select-container {
  border: 1px solid #f0e9ff;
  cursor: default;
  display: flex;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  height: 48px;
  padding-left: 8px;
  font-size: 13px;
}

.ng-select.ng-select-single.custom ::ng-deep .ng-select-container {
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  padding-right: 5px;
}

.ng-select.ng-select-single.custom ::ng-deep .ng-select-container .ng-value-container .ng-input {
  /* top: 5px; */
  left: 0;
  padding-left: 18px;
  padding-right: 50px
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container {
  align-items: center;
  padding-left: 0px;
}

.ng-select.ng-select-single.custom ::ng-deep .ng-value-container .ng-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* margin-left: -10px; */
}

.ng-select.custom ::ng-deep .ng-clear-wrapper {
  margin-top: 3px;
}

.ng-select.custom2 ::ng-deep .ng-clear-wrapper {
  margin-right: 3.4px;
  margin-top: 3px;
}

.ng-select.customSpeciality ::ng-deep .ng-clear-wrapper {
  margin-top: 3.5px;
}

.ng-select.customSpeciality ::ng-deep .ng-arrow-wrapper {
  /* width: 25px;
    padding-right: 5px */
  display: none;
}

.ng-select.custom2 ::ng-deep .ng-arrow-wrapper {
  /* width: 25px;
    padding-right: 5px */
  display: none;
}

.updateHeight {
  min-height: 720px;
  position: relative;
}

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.container {
  min-height: 100vh;
}

.bottm {
  bottom: 8px;
}

.required-field::before {
  content: "*";
  color: red;
}

.referred-btn:hover {
  color: rgb(40, 67, 190);
  /* background-color: rgb(41, 39, 39);
  border-color: rgb(41, 39, 39); */
}

.inputWithIcon input [id="dob"] {
  padding-right: 40px;
}

.inputWithIcon input [id="dov"] {
  padding-right: 40px;
}

.inputWithIcon input [id="time"] {
  padding-right: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  right: 0px;
  top: 7px;
  padding: 9px 12px;
}

input[name="dov"] {
  word-spacing: -3px;
}

input[name="patientDOB"] {
  word-spacing: -3px;
}
