<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb_iner">
					<div class="breadcrumb_iner_item">
						<h2>About Us</h2>
						<!-- <p>Home<span>/</span>{{cmsContent[0].cmspageName | titlecase}}</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- breadcrumb start-->
<!-- our_ability part start-->
<section class="about_us section_padding">
	<div class="container">
		<div class="" *ngIf="innerHTML$ | async as cmsContent">
			<div [innerHTML]="cmsContent[0].cmspageContents | cms">
			</div>
		</div>
		<div class="" *ngIf="(innerHTML$ | async) === null">
			<div class="">
				<div style="margin-top: 30px; min-height: 500px;">
					<p class="text-center">Loading...</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- our_ability part end-->