<div class="modal-contents modal">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Set Password</h4>
		<button type="button" (click)="onCloseModal()" class="close" data-dismiss="modal">&times;</button>
	</div>
	<!-- Modal body -->
	<div class="modal-body">
		<form class="bootstrap-form needs-validation LoginForm" [formGroup]="setPasswordForm"
			(ngSubmit)="onSubmitEmailOrMobile(setPasswordForm.value)" novalidate>
			<p>Enter your registered email address or mobile number to set your password</p>
			<br><br>
			<div class="form-group">
				<label for="username" class="text-uppercase text-primary">Email Address/Mobile
					Number<span class="required-field"></span></label>
				<input type="text" formControlName="email" class="form-control" id="email" name="email"
					placeholder="Enter email address/mobile number" autocomplete="off" required>
				<small class="text-danger"
					*ngIf="setPasswordForm.controls['email'].hasError('required') && (setPasswordForm.controls['email'].dirty || setPasswordForm.controls['email'].touched)">This
					field is required</small>
				<small class="text-danger"
					*ngIf="setPasswordForm.controls['email'].hasError('pattern') && (setPasswordForm.controls['email'].dirty || setPasswordForm.controls['email'].touched)">Please
					enter valid email address or phone number</small>
			</div>
			<br>
			<div class="p-3">
				<button type="submit" class="btn btn-primary btn-lg btn-block button-contactForm">Set
					Password</button>
			</div>
		</form>
	</div>

</div>