.cursr {
  cursor: pointer;
}

.ng-select.ng-select-single.custom ::ng-deep .ng-select-container {
  padding-left: 12.4px;
  font-size: 13px;
  padding-right: 5px;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  appearance: none;
  width: 135px;
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
  color: #495057;
}

.ng-select.ng-select-single.custom ::ng-deep .ng-select-container .ng-value-container .ng-input {
  left: 0;
  padding-left: 12.4px;
  padding-right: 50px
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container {
  align-items: center;
  padding-left: 0px;
}

.ng-select.ng-select-single.custom ::ng-deep .ng-value-container .ng-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* margin-left: -10px; */
}

.ng-select.custom ::ng-deep .ng-clear-wrapper {
  margin-top: 3px;
}
