<div class="modal-contents modal">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Reset Password</h4>
		<button type="button" class="close" (click)="onCloseVerification()"
			data-dismiss="modal">&times;</button>
	</div>
	<!-- Modal body -->
	<div class="modal-body">
		<!-- error handler -->
		<div class="alert alert-danger" role="alert" *ngIf="error">
			<h5 class="alert-heading text-center">Error!</h5>
			<p class="mb-0 text-center">{{error}}</p>
		</div>
		<!-- handler end -->
		<form class="bootstrap-form needs-validation LoginForm" [formGroup]="resetForm"
			(ngSubmit)="onReset(resetForm.value)">
			<br>
			<div class="form-group">
				<label for="NewPassword" class="text-uppercase text-primary">New Password<span
						class="required-field"></span></label>
				<div class="form-group inputWithIcon">
					<input type="password" [type]=" new ? 'password' : 'text' "
						formControlName="newPassword" (keydown.space)="$event.preventDefault()"
						class="form-control" id="NewPassword" name="NewPassword"
						placeholder="Password" autocomplete="off">
					<a class="cursr" (click)="newPassword()"><i class="fas "
							[ngClass]="{'fa-eye': !new, 'fa-eye-slash': new}"></i></a>
					<small class="text-danger"
						*ngIf="resetForm.controls['newPassword'].hasError('required') && (resetForm.controls['newPassword'].dirty || resetForm.controls['newPassword'].touched)">Please
						enter new password</small>
					<small class="text-danger"
						*ngIf="resetForm.controls['newPassword'].hasError('pattern') && (resetForm.controls['newPassword'].dirty || resetForm.controls['newPassword'].touched)">Password
						needs to be at least eight characters, one uppercase letter and one
						number.</small>
				</div>
				<!-- <small class="text-danger small" *ngIf="resetForm.controls['newPassword'].hasError('minlength')">New password
            must contain 4 to 16 character</small>
          <small class="text-danger small" *ngIf="resetForm.controls['newPassword'].hasError('maxlength')">New password
            must contain 4 to 16 character</small> -->
			</div>
			<div class="form-group">
				<label for="NewPassword" class="text-uppercase text-primary">Confirm New Password<span
						class="required-field"></span></label>
				<div class="form-group inputWithIcon">
					<input type="password" [type]=" confirm ? 'password' : 'text' "
						formControlName="reEnterNewPassword" class="form-control"
						id="NewPassword2" name="NewPassword"
						(keydown.space)="$event.preventDefault()" placeholder="Password"
						autocomplete="off">
					<a class="cursr" (click)="confirmPassword()"><i class="fas "
							[ngClass]="{'fa-eye': !confirm, 'fa-eye-slash': confirm}"></i></a>
					<small class="text-danger"
						*ngIf="resetForm.controls['reEnterNewPassword'].hasError('required') && (resetForm.controls['reEnterNewPassword'].dirty || resetForm.controls['reEnterNewPassword'].touched)">Please
						enter Re-enter new password</small>
					<small class="text-danger"
						*ngIf="resetForm.controls['reEnterNewPassword'].hasError('confirmedValidator')">Re-enter
						Password is not
						match</small>
				</div>
			</div>
			<br>
			<div class="p-3">
				<button type="submit" class="btn btn-primary btn-lg btn-block button-contactForm">Reset
					Password</button>
			</div>
		</form>
	</div>
</div>