<div class="modal-contents">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Request Demo</h4>
		<button type="button" (click)="onClose()" class="close" data-dismiss="modal">&times;</button>
	</div>
	<!-- Modal body -->
	<div class="modal-body">
		<form class="bootstrap-form needs-validation" [formGroup]="requestForm"
			(ngSubmit)="onSubmit(requestForm.value)" novalidate>
			<div class="form-row">
				<div class="form-group col-md-6">
					<input formControlName="meetingDate" class="form-control" [min]="min"
						maxlength=14 #dateInput (keyup)="onKeyDate(dateInput.value)"
						(blur)="onBlur(dateInput.value)" name="date" [owlDateTime]="dt4"
						id="date" placeholder="mm/dd/yyyy*">
					<span class="addons cursr"><i [owlDateTimeTrigger]="dt4"
							class="ti-calendar cursr"></i></span>
					<owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
					<small class="text-danger small"
						*ngIf="requestForm.get('meetingDate').invalid && requestForm.controls['meetingDate'].hasError('owlDateTimeMin')">Date
						should not before {{min | date: 'mediumDate'}}</small>
					<small class="text-danger small"
						*ngIf="requestForm.controls['meetingDate'].hasError('required')">Please
						enter Date.</small>
				</div>
				<div class="form-group col-md-6">
					<!--<label for="signonname" class="text-uppercase text-primary">Time</label>-->
					<input class="form-control" (keydown)="$event.preventDefault()" [min]="minTime"
						placeholder="hh:mm am/pm" [owlDateTimeTrigger]="dt5"
						formControlName="meetingTime" name="time" id="time" [owlDateTime]="dt5">
					<span class="addons cursr"><i [owlDateTimeTrigger]="dt5"
							class="ti-time cursr"></i></span>
					<owl-date-time (afterPickerOpen)="afterPickerOpen()" [hour12Timer]="true"
						[startAt]="startAt" [stepMinute]="15" [pickerType]="'timer'" #dt5>
					</owl-date-time>
					<small class="text-danger small"
						*ngIf="requestForm.controls['meetingTime'].hasError('emptyDate')">Please
						select Date first.</small>
					<small class="text-danger small"
						*ngIf="requestForm.controls['meetingTime'].hasError('required')">Please
						enter Time.</small>
					<small class="text-danger small"
						*ngIf="requestForm.get('meetingTime').invalid && requestForm.controls['meetingTime'].hasError('owlDateTimeMin')">Please
						enter valid time.</small>
				</div>
			</div>
			<div class="form-group">
				<!--<label for="signonname" class="text-uppercase text-primary">Your Name</label>-->
				<input type="text" id="signo" oninput="this.value = this.value.replace(/^\s+/g, '')"
					formControlName="meetingName" class="form-control" name="signonname"
					autocomplete="off" placeholder="Full Name*">
				<small class="text-danger"
					*ngIf="requestForm.controls['meetingName'].hasError('required')">Please
					enter name.</small>
				<small class="text-danger"
					*ngIf="requestForm.controls['meetingName'].hasError('maxlength')">Input
					fields will not be more than 40 characters.</small>
				<small class="text-danger small"
					*ngIf="requestForm.controls['meetingName'].hasError('pattern')">Only
					Alphabets are allowed.</small>
			</div>
			<div class="form-group">
				<!--<label for="email" class="text-uppercase text-primary">Email Address</label>-->
				<input type="email" id="email" oninput="this.value = this.value.replace(/^\s+/g, '')"
					formControlName="meetingEmail" class="form-control" name="email"
					autocomplete="off" placeholder="Email ID*">
				<small class="text-danger"
					*ngIf="requestForm.controls['meetingEmail'].hasError('pattern')">Please
					enter valid email.</small>
				<small class="text-danger small"
					*ngIf="requestForm.controls['meetingEmail'].hasError('required')">Please
					enter email.</small>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<!--<label for="mobile" class="text-uppercase text-primary">Mobile Number</label>-->
					<input type="text" id="mobile" formControlName="meetingMobile"
						mask="(000) 000-0000" maxlength="14" class="form-control" name="mobile"
						autocomplete="off" placeholder="Phone number*">
					<small class="text-danger small"
						*ngIf=" requestForm.controls['meetingMobile'].hasError('required')">Please
						enter Phone number.</small>
					<small class="text-danger small"
						*ngIf="requestForm.controls.meetingMobile.errors">{{requestForm.controls.meetingMobile.errors.message}}</small>
				</div>
				<div class="form-group col-md-6">
					<!--<label for="Fax" class="text-uppercase text-primary">Fax Number</label>-->
					<input type="text" maxlength="10" id="Fax" mask="(000) 000-0000" maxlength="14"
						formControlName="meetingFax" class="form-control" name="Fax"
						autocomplete="off" placeholder="Fax number" />
					<small class="text-danger small"
						*ngIf="requestForm.controls.meetingFax.errors">{{requestForm.controls.meetingFax.errors.message}}</small>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<!--<label for="Gender" class="text-uppercase text-primary">Loacation </label>		-->
					<input class="form-control pac-target-input"
						oninput="this.value = this.value.replace(/^\s+/g, '')"
						formControlName="meetingAddress" name="address" id="autoGoogle"
						type="text" placeholder="Address*" ngx-google-places-autocomplete
						[options]='options' #placesRef="ngx-places"
						(onAddressChange)="handleAddressChange($event)">
					<small class="text-danger"
						*ngIf="requestForm.controls['meetingAddress'].hasError('required')">Please
						enter address.</small>
				</div>
				<div class="form-group col-md-6">
					<!--<label for="Gender" class="text-uppercase text-primary">Loacation </label>		-->
					<input class="form-control pac-target-input"
						oninput="this.value = this.value.replace(/^\s+/g, '')"
						formControlName="houseNoFlatNo" name="address" id="House" type="text"
						placeholder="House No, Flat No*">
					<small class="text-danger"
						*ngIf="requestForm.controls['houseNoFlatNo'].hasError('required')">Please
						enter house or flat no.</small>
				</div>
				<div class="form-group col-md-6">
					<!--<label for="Gender" class="text-uppercase text-primary">Loacation </label>		-->
					<input class="form-control pac-target-input"
						oninput="this.value = this.value.replace(/^\s+/g, '')"
						formControlName="addressLandmark" name="address" id="street" type="text"
						placeholder="Landmark*">
					<small class="text-danger"
						*ngIf="requestForm.controls['addressLandmark'].hasError('required')">Please
						enter landmark.</small>
				</div>
				<div class="form-group col-md-6">
					<input class="form-control pac-target-input"
						oninput="this.value = this.value.replace(/^\s+/g, '')"
						formControlName="meetingCity" name="city" id="cityName" type="text"
						placeholder="City*" autocomplete="off">
					<small class="text-danger"
						*ngIf="requestForm.controls['meetingCity'].hasError('required')">Please
						enter city.</small>
				</div>
				<div class="form-group col-md-6">
					<input class="form-control pac-target-input"
						oninput="this.value = this.value.replace(/^\s+/g, '')"
						formControlName="meetingState" name="state" id="stateName" type="text"
						placeholder="State*" autocomplete="off">
					<small class="text-danger"
						*ngIf="requestForm.controls['meetingState'].hasError('required')">Please
						enter state.</small>
				</div>
				<div class="form-group col-md-6">
					<input class="form-control pac-target-input" maxlength="5"
						oninput="this.value = this.value.replace(/^\s+/g, '')"
						formControlName="meetingZip" name="zip" id="zipcode" type="text"
						placeholder="Zip code*" autocomplete="off">
					<small class="text-danger"
						*ngIf="requestForm.controls['meetingZip'].hasError('required')">Please
						enter zip code.</small>
					<small class="text-danger small"
						*ngIf="requestForm.controls.meetingZip.errors">{{requestForm.controls.meetingZip.errors.message}}</small>
				</div>
				<div class="form-group col-md-12">
					<div class="d-flex justify-content-center">
						<ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (reset)="handleReset()"
							(expire)="handleExpire()" (load)="handleLoad()"
							(success)="handleSuccess($event)" [useGlobalDomain]="false"
							[size]="size" [hl]="lang" [theme]="theme" [type]="type"
							formControlName="recaptcha">
						</ngx-recaptcha2>
					</div>
					<div class="d-flex justify-content-center">
						<small class="text-danger small"
							*ngIf="requestForm.controls['recaptcha'].hasError('required')">This
							field is required.</small>
					</div>
				</div>
			</div>
			<div class="p-3">
				<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
				<!-- <button type="button" (click)="openToastr(requestForm.value.meetingDate, requestForm.value.meetingTime)" class="button button-contactForm btn_1">Open Toastr</button> -->
			</div>
		</form>
	</div>
</div>