::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}

.required-field::before {
  content: "*";
  color: red;
}

.cursr {
  cursor: pointer;
}

.modal-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, .2); */
  border-radius: .3rem;
  outline: 0;
}

input[name="date"] {
  word-spacing: -3px;
}
