<div class="appointmen-list card mb-3 cursr" (click)="onClickViewReferral(wholeObject)">
	<div class="d-flex text-appont">
		<a class="referred-btn">
			<h5 class="m-0 text-dark">{{fullName | titlecase}}</h5>
		</a>
		<p class="m-0 text-dark ml-auto">{{genderAtZero + '/' + age + ' ' + 'yrs' + '' + (refSpecialityName |
			titlecase)}}</p>
	</div>
	<div class="row align-items-center">
		<div class="col-md-5 text-appont">
			<p class="m-0">{{reasonName | titlecase}}</p>
			<a *ngIf="doctorFullName || specialityName">Referred To:</a>
			<h5 class="text-dark" style="margin-top: .4rem; margin-bottom: .4rem;" *ngIf="doctorFullName">
				{{preFixDRstr === 'DR.' ? (doctorFullName | titlecase) : 'Dr. ' + (doctorFullName |
				titlecase)}}</h5>
			<br *ngIf="!doctorFullName">
			<p class="m-0" *ngIf="specialityName"> {{specialityName | titlecase}}</p>
		</div>
		<div class="col-md-3 icons-dated">
			<p class="m-0 " *ngIf="refercaseVisitDate"><i class="ti-calendar"></i>{{refercaseVisitDate |
				date : 'mediumDate'}}</p>
			<p class="m-0 " *ngIf="refercaseVisitTime"><i class="ti-time"></i>{{convertedTime}}</p>
			<p class="m-0 actiontimeline-icons">
				<a class="comment" title="Mail" (click)="openMail(); $event.stopPropagation();"><i
						class="ti-comment"></i></a>
				<a class="timeline" title="Timeline" data-toggle="modal"
					(click)="openTimeLine(timeline); $event.stopPropagation();"
					*ngIf="timeline.length > 0"><i class="ti-time"></i></a>
			</p>
		</div>
		<div class="col-md-4 text-xl-right btnsgrp-appointment " *ngIf="refercaseStatus === 'Pending'">
			<p class="text-dark sb-text mb-2" *ngIf="refercaseUrgent === 'Yes'">Urgent Consult</p>
			<div class="text-warning"><img src="assets/img/warning-icon.svg" alt="" height="15px"> Pending
			</div>
		</div>
		<div class="col-md-4 text-xl-right btnsgrp-appointment " *ngIf="refercaseStatus === 'Rejected'">
			<p class="text-dark sb-text mb-2" *ngIf="refercaseUrgent === 'Yes'">Urgent Consult</p>
			<div class="text-danger"><img src="assets/img/close-icon.svg" alt="" height="15px"> Rejected
			</div>
		</div>
		<div class="col-md-4 text-xl-right btnsgrp-appointment " *ngIf="refercaseStatus === 'Accepted'">
			<p class="text-dark sb-text mb-2" *ngIf="refercaseUrgent === 'Yes'">Urgent Consult</p>
			<div class="text-success"><img src="assets/img/check-icon.svg" alt="" height="15px"> Confirmed
			</div>
		</div>
		<div class="col-md-4 text-xl-right btnsgrp-appointment " *ngIf="refercaseStatus === 'Expired'">
			<p class="text-dark sb-text mb-2" *ngIf="refercaseUrgent === 'Yes'">Urgent Consult</p>
			<div class="text-muted"><i class="ti-na"></i> Expired</div>
		</div>
	</div>
</div>