<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb_iner">
					<div class="breadcrumb_iner_item">
						<h2>Contact Us</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- breadcrumb start-->
<section class="regervation_part">
	<div class="container contact-section section_padding">
		<div class="row align-items-center regervation_content">
			<div class="col-12">
				<h2 class="contact-title">Get in Touch</h2>
			</div>
			<div class="col-lg-8 regervation_part_iner">
				<form class="form-contact contact_form" [formGroup]="contactUs"
					(ngSubmit)="onSubmitContact(contactUs.value)" method="post" id="contactForm"
					novalidate="novalidate">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<input class="form-control"
									oninput="this.value = this.value.replace(/^\s+/g, '')"
									name="name" formControlName="name" id="name"
									type="text" onFocus="this.placeholder = ''"
									onBlur="this.placeholder = 'Name*'"
									placeholder="Name*">
								<small class="text-danger small"
									*ngIf="contactUs.controls['name'].hasError('required') && (contactUs.controls['name'].dirty || contactUs.controls['name'].touched)">This
									field is required</small>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<input class="form-control"
									oninput="this.value = this.value.replace(/^\s+/g, '')"
									name="email" id="email" formControlName="email"
									type="email" onFocus="this.placeholder = ''"
									onBlur="this.placeholder = 'Email address*'"
									placeholder="Email address*">
								<small class="text-danger small"
									*ngIf="contactUs.controls['email'].hasError('pattern') && (contactUs.controls['email'].dirty || contactUs.controls['email'].touched )">Please
									enter valid email.</small>
								<small class="text-danger small"
									*ngIf="contactUs.controls['email'].hasError('required') && (contactUs.controls['email'].dirty || contactUs.controls['email'].touched)">This
									field is required</small>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<input class="form-control"
									oninput="this.value = this.value.replace(/^\s+/g, '')"
									maxlength="10" pattern="[1-9]{1}[0-9]{9}"
									name="number" formControlName="number"
									id="number" type="text"
									onFocus="this.placeholder = ''"
									onBlur="this.placeholder = 'Contact number*'"
									placeholder="Contact number*">
								<small class="text-danger small"
									*ngIf="contactUs.controls['number'].hasError('required') && (contactUs.controls['number'].dirty || contactUs.controls['number'].touched)">This
									field is required</small>
								<small class="text-danger small"
									*ngIf="contactUs.controls['number'].hasError('pattern') && (contactUs.controls['number'].dirty || contactUs.controls['number'].touched)">Contact
									number must be only 10 digits</small>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<textarea class="form-control w-100"
									oninput="this.value = this.value.replace(/^\s+/g, '')"
									formControlName="message" name="message"
									id="message" cols="30" rows="9"
									onFocus="this.placeholder = ''"
									onBlur="this.placeholder = 'Message*'"
									placeholder="Message*"></textarea>
								<small class="text-danger small"
									*ngIf="contactUs.controls['message'].hasError('required') && (contactUs.controls['message'].dirty || contactUs.controls['message'].touched)">This
									field is required</small>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<ngx-recaptcha2 #captchaElem [siteKey]="siteKey"
									(reset)="handleReset()"
									(expire)="handleExpire()" (load)="handleLoad()"
									(success)="handleSuccess($event)"
									[useGlobalDomain]="false" [size]="size"
									[hl]="lang" [theme]="theme" [type]="type"
									formControlName="recaptcha">
								</ngx-recaptcha2>
								<small class="text-danger small"
									*ngIf="contactUs.controls['recaptcha'].hasError('required') && (contactUs.controls['recaptcha'].dirty || contactUs.controls['recaptcha'].touched)">This
									field is required</small>
							</div>
						</div>
					</div>
					<div class="form-group mt-3">
						<button type="submit" class="button button-contactForm btn_1">Send
							Message</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>