<footer class="footer-area">
	<div class="footer">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-xl-5 col-lg-12 single-footer-widget pb-3 pb-xl-0">
					<h4 class="mb-3"><img [defaultImage]="'assets/img/logo-white2.png'"
							[lazyLoad]="'assets/img/logo-white2.png'"
							[errorImage]="'assets/img/logo-white2.png'" alt="logo"
							style="max-height:40px;"></h4>
					<owl-carousel-o [options]="footerOptions">
						<ng-template carouselSlide>
							<p class="text-white">I work as a consultant. I travel a lot and
								have a very hectic schedule throughout
								the week. I often skip my appointments because of prior
								commitments. This has resulted in many
								complications in the past. However, with DocsTime I was
								able to schedule appointments just any time of
								the day. I could choose my physician as a time I could
								manage to visit. In fact, DocsTime helps you find
								doctors in your immediate vicinity. <b
									class="text-white">– David ******</b></p>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<p class="text-white">
									I visited my PCP for abdominal pain. My doctor
									told me that I need to see Gastroenterologist.
									Earlier
									I used to call multiple offices to schedule an
									appointment that suites my time. First thing it
									was
									difficult to reach them on the phone right away
									second thing even if I am able to catch hold of
									them I
									am unable to schedule the time I need. With
									DocsTime app I was able to get an appointment
									with the
									best specialists around with in minuites. Thanks
									for the features provided. <b
										class="text-white">"Ellen"</b>
								</p>
							</div>
						</ng-template>
					</owl-carousel-o>
				</div>
				<div class="col-xl-2 col-6 col-sm-4 col-md-4 single-footer-widget">
					<h4>Quick Links</h4>
					<ul>
						<li><a routerLink="dashboard" routerLinkActive="active">Home</a></li>
						<li><a routerLink="about-us" routerLinkActive="active">About Us</a></li>
						<li><a routerLink="faq" routerLinkActive="active">FAQ</a></li>
					</ul>
				</div>
				<div class="col-xl-3 col-6 col-sm-4 col-md-4 single-footer-widget order-md-3 order-4">
					<h4>Are you a Provider?</h4>
					<ul>
						<li><a routerLink="join-docs-time" routerLinkActive="active">Join
								DocsTime</a></li>
					</ul>
				</div>
				<div class="col-xl-2 col-6 col-sm-4 col-md-4 single-footer-widget order-md-4 order-3">
					<h4>Need Help?</h4>
					<ul>
						<li><a routerLink="contact-us" routerLinkActive="active">Contact Us</a>
						</li>
						<li><a routerLink="terms-and-conditions" routerLinkActive="active">Terms
								&
								Conditions</a></li>
						<li><a routerLink="privacy-policy" routerLinkActive="active">Privacy
								Policy</a></li>
						<li><a routerLink="doctors-privacy-policy"
								routerLinkActive="active">Doctors
								Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright_part">
		<div class="container">
			<div class="row align-items-center">
				<p class="footer-text m-0 col-lg-10 col-md-12 text-center">&copy; 2021 DocsTime. All
					Rights Reserved.</p>
				<div class="col-lg-2 col-md-12 text-center text-lg-right footer-social">
					<a (click)="openFBpage()" style="cursor: pointer;"><i
							class="ti-facebook"></i></a>
					<a (click)="openTwitterpage()" style="cursor: pointer;"> <i
							class="ti-twitter-alt"></i>
					</a>
					<a (click)="openLinkedINpage()" style="cursor: pointer;"><i
							class="ti-linkedin"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>