<div class="appointmen-list card mb-3" *ngIf="refercaseStatus === 'Pending'" style="cursor: pointer;"
	(click)="onClickViewReferral(wholeObject)">
	<div class="d-flex text-appont" title="view-refer">
		<a class="referred-btn">
			<h5 class="m-0 text-dark">{{fullName | titlecase}}</h5>
		</a>
		<p class="m-0 text-dark ml-auto">{{genderAtZero + '/' + age + ' ' + 'yrs' + '' + (refSpecialityName |
			titlecase)}}</p>
	</div>
	<div title="view-refer" class="row align-items-center">
		<div class="col-md-5 text-appont">
			<p class="m-0">{{reasonName | titlecase}}</p>
			<a *ngIf="refDocName">Referred By:</a>
			<h5 class="text-dark" style="margin-top: .4rem; margin-bottom: .4rem;"
				[title]="preFixDRstr === 'DR.' ? refDocName : 'Dr. ' + refDocName" *ngIf="refDocName">
				{{preFixDRstr === 'DR.' ? (refDocName | titlecase) : 'Dr. ' + (refDocName | titlecase)}}
			</h5>
			<p class="m-0" *ngIf="specialityName"> {{specialityName | titlecase}}</p>
		</div>
		<div class="col-md-3 icons-dated" title="view-refer">
			<p class="m-0" *ngIf="refercaseVisitDate"><i class="ti-calendar"></i> {{refercaseVisitDate |
				date : 'mediumDate'}}</p>
			<p class="m-0" *ngIf="refercaseVisitTime"><i class="ti-time"></i> {{convertedTime}}</p>
		</div>
		<div class="col-md-4 text-xl-right btnsgrp-appointment" title="view-refer">
			<p class="mb-2 actiontimeline-icons">
				<a class="comment cursr" title="Mail" (click)="mail(); $event.stopPropagation();"><i
						class="fa fa-envelope"></i></a>
			</p>
			<p class="text-dark sb-text mb-2" *ngIf="refercaseUrgent === 'Yes'">Urgent Consult</p>
		</div>
		<div class="col-md-12 text-right">
			<a (click)="openModalConfirm(); $event.stopPropagation();"
				class="btn btn-outline-primary btn-sm"
				*ngIf="refercaseStatus === 'Pending'">Confirm/Reschedule</a>
			<a (click)="openModalReject(); $event.stopPropagation();"
				class="btn btn-outline-primary m-1 btn-sm"
				*ngIf="refercaseStatus === 'Pending'">Reject</a>
		</div>
	</div>
</div>

<!-- confirmed or expired -->
<div class="appointmen-list card mb-3" title="view-refer"
	*ngIf="refercaseStatus === 'Accepted' || refercaseStatus === 'Rejected' || refercaseStatus === 'Expired'"
	style="cursor: pointer;" (click)="onClickViewReferral(wholeObject)">
	<div class="d-flex text-appont">
		<a class="referred-btn">
			<h5 class="m-0 text-dark">{{fullName | titlecase}}</h5>
		</a>
		<p class="m-0 text-dark ml-auto">{{genderAtZero + '/' + age + ' ' + 'yrs' + '' + (refSpecialityName |
			titlecase)}}</p>
	</div>
	<div class="row align-items-center">
		<div class="col-md-5 text-appont">
			<p class="m-0">{{reasonName | titlecase}}</p>
			<a *ngIf="refDocName">Referred By:</a>
			<h5 class="text-dark" style="margin-top: .4rem; margin-bottom: .4rem;"
				[title]="preFixDRstr === 'DR.' ? refDocName : 'Dr. ' + refDocName" *ngIf="refDocName">
				{{preFixDRstr === 'DR.' ? (refDocName | titlecase) : 'Dr. ' + (refDocName | titlecase)}}
			</h5>
			<p class="m-0" *ngIf="specialityName"> {{specialityName | titlecase}}</p>
		</div>
		<div class="col-md-3 icons-dated">
			<p class="m-0" *ngIf="refercaseVisitDate"><i class="ti-calendar"></i> {{refercaseVisitDate |
				date : 'mediumDate'}}</p>
			<p class="m-0" *ngIf="refercaseVisitTime"><i class="ti-time"></i> {{convertedTime}}</p>
		</div>
		<div class="col-md-4 text-xl-right btnsgrp-appointment">
			<p class="mb-2 actiontimeline-icons">
				<a class="comment cursr" title="Mail" (click)="mail(); $event.stopPropagation();"><i
						class="fa fa-envelope"></i></a>
			</p>
			<p class="text-dark sb-text mb-2" *ngIf="refercaseUrgent === 'Yes'">Urgent Consult</p>
			<div class="text-success" *ngIf="refercaseStatus === 'Accepted'"><img
					src="assets/img/check-icon.svg" alt="" height="15px"> Confirmed</div>
			<div class="text-danger" *ngIf="refercaseStatus === 'Rejected'"><img
					src="assets/img/close-icon.svg" alt="" height="15px"> Rejected</div>
			<div class="text-muted" *ngIf="refercaseStatus === 'Expired'"><i class="ti-na"></i> Expired
			</div>
		</div>
		<div class="col-md-12 text-right">
		</div>
	</div>
</div>