<body class="dashbord-section">
	<div class="spacetop"></div>
	<section class="section-dashbord">
		<div class="container">
			<div class="">
				<div class="title-dashbord d-flex pt-3">
					<h4 class="text-dark mb-0">Change Password</h4>
				</div>
				<div class="appointment-conten pt-3">
					<div class="">
						<form class="text-left profile-form" [formGroup]="changePassword">
							<div class="row">
								<div class="col-lg-7 col-md-12 align-self-center">
									<div class="card p-3">
										<div class="form-row">
											<div class="col-xl-12">
												<label for="password">Current
													Password<span
														class="required-field"></span></label>
												<div
													class="form-group inputWithIcon">
													<input type="password"
														[type]=" current ? 'password' : 'text'"
														name="password"
														class="form-control"
														formControlName="currentPassword"
														id="password"
														(keydown.space)="$event.preventDefault()"
														placeholder="Enter current password"
														data-rule="minlen:4"
														required="">
													<a class="cursr"
														(click)="onClickCurrent()"><i
															class="fas "
															[ngClass]="{'fa-eye': !current, 'fa-eye-slash': current}"></i></a>
													<small class="text-danger"
														*ngIf="changePassword.controls['currentPassword'].hasError('required') && (changePassword.controls['currentPassword'].dirty || changePassword.controls['currentPassword'].touched)">Please
														enter
														current
														password.</small>
												</div>
											</div>
											<div class="col-xl-12">
												<label
													for="NewPassword">New
													Password<span
														class="required-field"></span></label>
												<div
													class="form-group inputWithIcon">
													<input type="password"
														[type]=" new ? 'password' : 'text' "
														formControlName="newPassword"
														(keydown.space)="$event.preventDefault()"
														name="NewPassword"
														class="form-control"
														id="NewPassword"
														placeholder="Enter new password"
														data-rule="minlen:4"
														required="">
													<a class="cursr"
														(click)="onClickNew()"><i
															class="fas "
															[ngClass]="{'fa-eye': !new, 'fa-eye-slash': new}"></i></a>
													<small class="text-danger"
														*ngIf="changePassword.controls['newPassword'].hasError('required') && (changePassword.controls['newPassword'].dirty || changePassword.controls['newPassword'].touched)">Please
														enter
														new
														password.</small>
													<small class="text-danger"
														*ngIf="changePassword.controls['newPassword'].hasError('confirmedValidatorOldAndCurrent')">New
														password
														and
														current
														password
														should
														not be
														same.</small>
													<small class="text-danger"
														*ngIf="changePassword.controls['newPassword'].hasError('pattern') && (changePassword.controls['newPassword'].dirty || changePassword.controls['newPassword'].touched)">Password
														needs to
														be at
														least
														eight
														characters,
														one
														uppercase
														letter
														and one
														number.</small>
												</div>
												<div
													class="invalid-feedback">
													Please enter at
													least 4 chars
												</div>
											</div>
											<div class="col-xl-12">
												<label
													for="ConNewPassword">Confirm
													New
													Password<span
														class="required-field"></span></label>
												<div
													class="form-group inputWithIcon">
													<input type="password"
														[type]=" confirm ? 'password' : 'text'"
														formControlName="reEnterNewPassword"
														name="ConNewPassword"
														class="form-control"
														(keydown.space)="$event.preventDefault()"
														id="ConNewPassword"
														placeholder="Re-enter new password"
														data-rule="minlen:4"
														required="">
													<a class="cursr"
														(click)="onClickConfirm()"><i
															class="fas "
															[ngClass]="{'fa-eye': !confirm, 'fa-eye-slash': confirm}"></i></a>
													<small class="text-danger"
														*ngIf="changePassword.controls['reEnterNewPassword'].hasError('required') && (changePassword.controls['reEnterNewPassword'].dirty || changePassword.controls['reEnterNewPassword'].touched)">Please
														enter Re
														enter
														new
														password.</small>
													<small class="text-danger"
														*ngIf="changePassword.controls['reEnterNewPassword'].hasError('confirmedValidator')">Re
														enter
														new
														password
														is not
														match.</small>
												</div>
												<div
													class="invalid-feedback">
													Please enter at
													least 4 chars
												</div>
											</div>
										</div>
										<div class="regerv_btn"
											style="padding-top: 10px;"><a
												(click)="passwordUpdate(changePassword.value)"
												style="cursor: pointer;"
												class="btn btn-primary">Update</a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br>
</body>