.cursr {
  cursor: pointer;
}

.ng-select.custom ::ng-deep .ng-select-container {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-
}

.ng-select.custom ::ng-deep .ng-clear-wrapper {
  width: 0px;
  display: none;
}

.ng-select.ng-select-single.custom ::ng-deep .ng-value-container .ng-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: -10px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: -5px;
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-placeholder {
  color: #838586;
  margin-left: -11px;
}

.ng-select.ng-select-single.custom ::ng-deep .ng-select-container .ng-value-container .ng-input {
  top: 6px;
  left: 0;
  padding-left: 11px;
}

.required-field::before {
  content: "*";
  color: red;
}
