<body class="dashbord-section">
	<div class="spacetop"></div>
	<section class="section-dashbord">
		<div class="container">
			<div class="title-dashbord d-flex pt-3 pb-3">
				<h4 class="text-dark mb-0">My Profile</h4>
			</div>

			<div class="card p-3">
				<div class=" appointment-conten ">
					<ul class="nav nav-tabs custom-tabs border-0" id="myTab" role="tablist">
						<li class="nav-item"><a class="nav-link active" id="home-tab"
								data-toggle="tab" href="#Personal" role="tab"
								aria-controls="Upcoming"
								aria-selected="true">Personal</a></li>
						<li class="nav-item"><a class="nav-link" id="profile-tab"
								data-toggle="tab" href="#Professional" role="tab"
								aria-controls="profile"
								aria-selected="false">Professional</a></li>
					</ul>
					<hr>

					<div class="tab-content pt-3" id="myTabContent">
						<div class="tab-pane fade show active" id="Personal" role="tabpanel"
							aria-labelledby="home-tab">
							<div class="">
								<form class="text-left profile-form"
									[formGroup]="basicProfile">
									<div class="row">
										<div class="col-lg-3 col-md-12">
											<div class="fi-profile-photo">
												<span
													class="imagebox cursr"><label
														for="photoupload"><img
															id="blah-b"
															class="cursr"
															[defaultImage]="'assets/img/user-icon.png'"
															[lazyLoad]="url"
															[errorImage]="'assets/img/user-icon.png'"
															alt=""></label></span>
												<label for="photoupload"
													class="fi-custom-upladfile cursr">
													<input (change)="onSelectFile($event)"
														multiple=""
														accept="image/*"
														id="photoupload"
														name="photoupload"
														type="file"><span
														class="photoupload-link cursr">Upload
														Photo</span>
												</label>
											</div>
										</div>
										<div
											class="col-lg-9 col-md-12 align-self-center">
											<div class="row">
												<div
													class="form-group col-md-6">
													<label>Name<span
															class="required-field"></span></label>
													<input type="text"
														id="defaultName"
														formControlName="doctorFullName"
														name="doctorFullName"
														class="form-control"
														placeholder="Enter name"
														value=""
														readonly>
												</div>
												<div
													class="form-group col-md-6">
													<label>Email
														Address<span
															class="required-field"></span></label>
													<input type="email"
														id="EmailAddress"
														formControlName="doctorEmail"
														name="doctorEmail"
														placeholder="Enter email"
														class="form-control">
													<small class="text-danger small"
														*ngIf="basicProfile.controls['doctorEmail'].hasError('pattern') && (basicProfile.controls['doctorEmail'].dirty || basicProfile.controls['doctorEmail'].touched )">Please
														enter
														valid
														email.</small>
													<small class="text-danger small"
														*ngIf="basicProfile.controls['doctorEmail'].hasError('required') && (basicProfile.controls['doctorEmail'].dirty || basicProfile.controls['doctorEmail'].touched)">Please
														enter
														email.</small>
												</div>
												<div
													class="form-group col-md-4 ">
													<!-- <span class="flag-img"><img [src]="flag" alt="flag"></span> -->
													<!-- <select name="userCountryCode" formControlName="userCountryCode"
                                (change)="onChangeCode($event.target.value)" class="countrycode select-css cursr"
                                required>
                                <option class="option" *ngFor="let option of countryCodeOptions" [value]="option.code">
                                  {{option.code}}</option>
                              </select> -->
													<label>Mobile
														Number<span
															class="required-field"></span></label>
													<input type="text"
														id="MobileNumber"
														mask="(000) 000-0000"
														maxlength="14"
														formControlName="doctorMobile"
														name="doctorMobile"
														placeholder="Enter mobile number"
														class="form-control">
													<small class="text-danger small"
														*ngIf="basicProfile.controls['doctorMobile'].hasError('required') && (basicProfile.controls['doctorMobile'].dirty || basicProfile.controls['doctorMobile'].touched)">Please
														enter
														mobile
														number</small>
													<small class="text-danger small"
														*ngIf="basicProfile.controls.doctorMobile.errors">{{basicProfile.controls.doctorMobile.errors.message}}</small>
												</div>
												<div
													class="form-group col-md-4">
													<label
														class="active">Gender<span
															class="required-field"></span></label>
													<input type="text"
														id="doctorGender"
														formControlName="doctorGender"
														placeholder="Enter gender"
														name="doctorGender"
														class="form-control"
														readonly>
													<small class="text-danger small"
														*ngIf="basicProfile.controls['doctorGender'].hasError('required') && (basicProfile.controls['doctorGender'].dirty || basicProfile.controls['doctorGender'].touched)">Please
														Enter
														Gender.</small>
												</div>
												<div
													class="form-group col-md-4">
													<label>Fax
														Number<span
															class="required-field"></span></label>
													<!-- <a class="forgotpin" (click)="openVerificationFax()" *ngIf="faxChanged">Verify</a> -->
													<input type="text"
														mask="(000) 000-0000"
														maxlength="14"
														id="FaxNumber"
														formControlName="doctorFax"
														placeholder="Enter fax-number"
														name="doctorFax"
														class="form-control">
													<small class="text-danger small"
														*ngIf="basicProfile.controls['doctorFax'].hasError('required') && (basicProfile.controls['doctorFax'].dirty || basicProfile.controls['doctorFax'].touched)">Please
														enter
														fax.</small>
													<small class="text-danger small"
														*ngIf="basicProfile.controls.doctorFax.errors">{{basicProfile.controls.doctorFax.errors.message}}</small>
												</div>
												<!-- <div class="form-group col-md-4">
                          <label>Date of Birth</label>
                          <input class="form-control" placeholder="dd-mm-yy" formControlName="doctorDOB" name="date"
                            [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
                          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>

                        </div> -->
												<div
													class="form-group col-md-12">
													<label>About
														Me</label>
													<textarea
														type="text"
														placeholder="About...?"
														oninput="this.value = this.value.replace(/^\s+/g, '')"
														formControlName="doctorAbout"
														name="doctorAbout"
														id="about"
														class="form-control"></textarea>
												</div>
											</div>
											<div class="regerv_btn"><a
													(click)="onUpdateBasicClick(basicProfile.value)"
													class="btn btn-primary cursr">Update</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>

						<div class="tab-pane fade" id="Professional" role="tabpanel"
							aria-labelledby="profile-tab">
							<div class="">
								<form class="text-left profile-form"
									[formGroup]="profProfile">
									<div class="row">
										<div
											class="col-lg-12 col-md-12 align-self-center">
											<div class="row">
												<div
													class="form-group col-lg-4 col-md-6">
													<label>National
														Provider
														Indentifier
														(NPI)<span
															class="required-field"></span></label>
													<input type="text"
														id="nipi"
														formControlName="doctorNPI"
														name="doctorNPI"
														class="form-control"
														readonly>
												</div>
												<div
													class="form-group col-lg-4 col-md-6">
													<label>Primary
														Facility</label>
													<input type="text"
														id="primaryID"
														formControlName="facilityName"
														name="primaryID"
														placeholder="Enter facility Name"
														class="form-control"
														value=""
														readonly>
												</div>
												<div
													class="form-group col-lg-4 col-md-6">
													<label>Secondary
														Facility</label>
													<input type="text"
														id="secondaryID"
														formControlName="facility"
														name="secondaryID"
														placeholder="Enter facility Name"
														class="form-control"
														value=""
														readonly>
												</div>
												<div
													class="form-group col-lg-8 col-md-6">
													<label
														for="specialityList">Specialty<span
															class="required-field"></span></label>
													<ng-select
														[items]="specialityList$ | async"
														[multiple]="true"
														[closeOnSelect]="true"
														[searchable]="true"
														bindLabel="specialityName"
														bindValue="specialityID"
														placeholder="Enter Speciality"
														formControlName="specialityIDs"
														class="custom2"
														labelForId="specialityList"
														name="specialityName">
													</ng-select>
													<small class="text-danger small"
														*ngIf="profProfile.controls['specialityIDs'].hasError('required') && (profProfile.controls['specialityIDs'].dirty || profProfile.controls['specialityIDs'].touched)">Please
														Select
														speciality.</small>
												</div>
												<div
													class="form-group col-lg-4 col-md-6">
													<label
														for="degreeList">Qualification<span
															class="required-field"></span></label>
													<ng-select
														[closeOnSelect]="true"
														[searchable]="true"
														appearance="outline"
														placeholder="Enter Degree"
														formControlName="degreeID"
														class="custom"
														labelForId="degreeList"
														name="degreeName">
														<ng-option
															*ngFor="let degree of (degreeList$ | async)"
															[value]="degree.degreeID">
															{{degree.degreeName}}
														</ng-option>
													</ng-select>
													<small class="text-danger small"
														*ngIf="profProfile.controls['degreeID'].hasError('required') && (profProfile.controls['degreeID'].dirty || profProfile.controls['degreeID'].touched)">Please
														Select
														degree.</small>
												</div>
											</div>
											<div class="regerv_btn"><a
													(click)="onUpdateProfessionalClick(profProfile.value)"
													class="btn btn-primary cursr">Update</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br>
</body>