<div class="modal-contents modal" [ngClass]="{'hide': vOpen}">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Account Information</h4>
		<button type="button" (click)="onCloseSignup()" class="close" data-dismiss="modal">&times;</button>
	</div>
	<!-- Modal body -->
	<div class="modal-body">
		<!-- error handler -->
		<div class="alert alert-danger" role="alert" *ngIf="error">
			<h5 class="alert-heading text-center">Alert!</h5>
			<p class="mb-0 text-center">{{error}}</p>
		</div>
		<!-- handler end -->
		<form class="bootstrap-form needs-validation" (ngSubmit)="onSubmitRegister(signUPForm.value)"
			[formGroup]="signUPForm">
			<div class="form-group">
				<div class="profileupload">
					<div class="imagebox mt-0 ">
						<label class="hoverable" for="fileInput">
							<img [defaultImage]="'assets/img/user-icon.png'"
								[lazyLoad]="imageUrl"
								[errorImage]="'assets/img/user-icon.png'">
							<div class="hover-text">
								<input id="fileInput" accept="image/*"
									(change)="onSelectFile($event)" type='file'>
								<p style="margin-top: 20px; font-family: Lato;">Choose
									file</p>
							</div>
							<div class="background"></div>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="signonname" class="text-uppercase text-primary">Your Name<span
						class="required-field"></span></label>
				<input type="text" readonly formControlName="doctorFullName" id="signonname"
					class="form-control" name="signonname" value="" />
			</div>
			<div class="form-group">
				<label for="email" class="text-uppercase text-primary">Email Address<span
						class="required-field"></span></label>
				<input type="email" formControlName="doctorEmail" placeholder="Enter Email" id="email"
					class="form-control" name="email" />
				<small class="text-danger small"
					*ngIf="signUPForm.controls['doctorEmail'].hasError('pattern')">Please enter
					valid Email ID</small>
				<small class="text-danger small"
					*ngIf="signUPForm.controls['doctorEmail'].hasError('required')">Please enter
					Email ID</small>
				<small class="text-danger"
					*ngIf="signUPForm.controls['doctorEmail'].hasError('emailAlreadyExist')">Email
					already exist.</small>
			</div>
			<div class="form-group">
				<label for="mobile" class="text-uppercase text-primary">Phone Number<span
						class="required-field"></span></label>
				<input type="text" mask="(000) 000-0000" id="mobile" maxlength="14"
					placeholder="Enter Phone number" formControlName="doctorMobile"
					class="form-control" name="mobile" />
				<small class="text-danger small"
					*ngIf=" signUPForm.controls['doctorMobile'].hasError('required')">Please enter
					phone number.</small>
				<small class="text-danger small"
					*ngIf="signUPForm.controls.doctorMobile.errors">{{signUPForm.controls.doctorMobile.errors.message}}</small>
				<small class="text-danger"
					*ngIf="signUPForm.controls['doctorMobile'].hasError('mobileExist')">Phone
					already exist.</small>
			</div>
			<div class="form-group">
				<label for="Fax" class="text-uppercase text-primary">Fax Number<span
						class="required-field"></span></label>
				<input type="text" mask="(000) 000-0000" maxlength="14" formControlName="doctorFax"
					id="Fax" class="form-control" name="Fax" placeholder="Enter Fax number"
					value="" />
				<small class="text-danger small"
					*ngIf="signUPForm.controls['doctorFax'].hasError('required')">Please enter
					fax.</small>
				<small class="text-danger small"
					*ngIf="signUPForm.controls.doctorFax.errors">{{signUPForm.controls.doctorFax.errors.message}}</small>
			</div>
			<div class="form-group">
				<label for="Gender" class="text-uppercase text-primary">Gender<span
						class="required-field"></span></label>
				<input type="text" readonly formControlName="doctorGender" id="Gender"
					class="form-control" placeholder="Enter Gender" name="Gender" />
			</div>
			<div class="form-group">
				<label for="Address" class="text-uppercase text-primary">Address<span
						class="required-field"></span></label>
				<textarea type="text" formControlName="doctorAddress" id="Address" class="form-control"
					placeholder="Enter Address" name="Address" required></textarea>
				<small class="text-danger small"
					*ngIf="signUPForm.controls['doctorAddress'].hasError('required')">Please enter
					Address.</small>
			</div>
			<!-- <div class="col-md-12">									 -->
			<div class="form-group">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" formControlName="termsAndPrivacy"
						class="custom-control-input" id="Consult1" name="Consult1">
					<label class="custom-control-label" for="Consult1">I have read and accept
						DocsTime's <a style="cursor: pointer;"
							(click)="openModal(childModal); vOpen=true;">Terms &
							conditions</a> and <a style="cursor: pointer;"
							(click)="openModal(thirdModal); vOpen=true;">Privacy Policy</a>
					</label>
				</div>
				<small class="text-danger small"
					*ngIf="signUPForm.controls['termsAndPrivacy'].hasError('required')">Please
					select this checkbox.</small>
			</div>
			<div class="form-group">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" formControlName="hippa" class="custom-control-input"
						id="Consult2" name="Consult2">
					<label class="custom-control-label" for="Consult2">I have read and accept
						DocsTime's <a style="cursor: pointer;"
							(click)="openModal(thirdModal); vOpen=true;"> HIPAA
							Authorization </a> </label>
				</div>
				<small class="text-danger small"
					*ngIf="signUPForm.controls['hippa'].hasError('required')">Please select this
					checkbox.</small>
			</div>
			<!-- </div> -->
			<div class="p-3">
				<button type="submit" class="btn btn-primary btn-lg btn-block">Continue</button>
			</div>
		</form>
	</div>
</div>

<ng-template #childModal>
	<div class="modal-contents modal">
		<div class="modal-header">
			<h4 id="dialog-nested-name2" class="modal-title pull-left">Terms And Conditions</h4>
			<button type="button" class="close pull-right" aria-label="Close"
				(click)="modalRefTermAndPrivacy.hide(); vOpen=false;">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-md-12 align-self-center">
						<div class="section_title"
							*ngIf="innerHTMLterms$ | async as cmsContents">
							<div [innerHTML]="cmsContents[0].cmspageContents | safeHtml">
							</div>
						</div>
						<div class="container" *ngIf="(innerHTMLterms$ | async) === null">
							<div class="row" style="margin-top: 40px; height: 500px;">
								<div class="col">
									<p class="text-center">Loading...</p>
								</div>
							</div>
						</div>
						<div class="container" *ngIf="(innerHTMLterms$ | async) === undefined">
							<div class="row" style="margin-top: 40px;">
								<div class="col">
									<p class="text-center">No Content Found.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #thirdModal>
	<div class="modal-contents modal">
		<div class="modal-header">
			<h4 id="dialog-nested-name3" class="modal-title pull-left">Privacy Policy</h4>
			<button type="button" class="close pull-right" aria-label="Close"
				(click)="modalRefTermAndPrivacy.hide(); vOpen=false;">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-md-12 align-self-center"
						*ngIf="innerHTMLprivacy$ | async as cmsContents">
						<div [innerHTML]="cmsContents[0].cmspageContents | safeHtml"></div>
					</div>
					<div class="container" *ngIf="(innerHTMLprivacy$ | async) === null">
						<div class="row" style="margin-top: 40px; height: 500px;">
							<div class="col">
								<p class="text-center">Loading...</p>
							</div>
						</div>
					</div>
					<div class="container" *ngIf="(innerHTMLprivacy$ | async) === undefined">
						<div class="row" style="margin-top: 40px;">
							<div class="col">
								<p class="text-center">No Content Found.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>