.small {
  font-size: 0.9em;
}

.required-field::before {
  content: "*";
  color: red;
}

.modal-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, .2); */
  border-radius: .3rem;
  outline: 0;
}
