<div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
	<div class="appointmen-content" *ngIf="previousAll.length > 0">
		<div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
			[scrollWindow]="true" (scrolled)="onScrollEndPrevious()">
			<div class="details-list" *ngFor="let appoint of previousAll">
				<app-previous-appointments
					[patientFirstName]="appoint.patientFirstName ? appoint.patientFirstName : ''"
					[patientLastName]="appoint.patientLastName ? appoint.patientLastName : ''"
					[reasonName]="appoint.reasonName ? appoint.reasonName : appoint.reasonNames ? appoint.reasonNames : ''"
					[patientGender]="appoint.patientGender ? appoint.patientGender : ''"
					[refDocName]="appoint.refDocName ? appoint.refDocName : ''"
					[age]="appoint.age ? appoint.age : '0'"
					[refercaseUrgent]="appoint.refercaseUrgent ? appoint.refercaseUrgent : ''"
					[wholeObject]="appoint"
					[refSpecialityName]="appoint.insuranceNames ? appoint.insuranceNames : ''"
					[specialityName]="appoint.refSpecialityName ? appoint.refSpecialityName : ''"
					[refercaseVisitDate]="appoint.refercaseVisitDate ? appoint.refercaseVisitDate : ''"
					[refercaseVisitTime]="appoint.refercaseVisitTime !== null && appoint.refercaseVisitTime !== Undefined && appoint.refercaseVisitTime !== '' ? appoint.refercaseVisitTime : ''"
					[refercaseStatus]="appoint.refercaseStatus ? appoint.refercaseStatus : ''"
					(view)="showReferralClick($event)">
				</app-previous-appointments>
			</div>
		</div>
		<div class="row" style="min-height: 50px;" *ngIf="previousAll.length > 0 && previousAll.length === 6">
			<div class="">
				<div class="text-center">
					<p></p>
				</div>
			</div>
		</div>
		<div class="row" style="min-height: 100px;" *ngIf="previousAll.length > 0 && previousAll.length === 5">
			<div class="">
				<div class="text-center">
					<p></p>
				</div>
			</div>
		</div>
		<div class="row" style="min-height: 200px;" *ngIf="previousAll.length > 0 && previousAll.length === 4">
			<div class="">
				<div class="text-center">
					<p></p>
				</div>
			</div>
		</div>
		<div class="row" style="min-height: 300px;" *ngIf="previousAll.length > 0 && previousAll.length <= 3">
			<div class="">
				<div class="text-center">
					<p></p>
				</div>
			</div>
		</div>
		<div *ngIf="previousAll.length > 0 && previousAll.length <= 2">
			<div style="height: 350px;">
				<p></p>
			</div>
		</div>
	</div>
	<div class="" style="margin-top: 5px;" *ngIf="(scheduledPrevious$ | async) === null">
		<div class="appointmen-content appoinment-show appointmen-referral">
			<div class="details-list">
				<div class="appointmen-list card mb-3">
					<div class="text-appont">
						<ngx-skeleton-loader count="1"
							[theme]="{ height: '12px', width: '30%' }">
						</ngx-skeleton-loader>
					</div>
					<div class="text-appont">
						<ngx-skeleton-loader count="1"
							[theme]="{ height: '10px', width: '47%' }">
						</ngx-skeleton-loader>
					</div>
					<div class="row align-items-center">
						<div class="col-md-5 text-appont">
							<ngx-skeleton-loader count="1" [theme]="{ height: '12px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1"
								[theme]="{ height: '10px', width: '30%' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1"
								[theme]="{ height: '10px', width: '47%' }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-md-3 icons-dated">
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-md-4 text-xl-right btnsgrp-appointment">
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
						</div>
					</div>
				</div>
			</div>
			<div class="details-list">
				<div class="appointmen-list card mb-3">
					<div class="text-appont">
						<ngx-skeleton-loader count="1"
							[theme]="{ height: '12px', width: '30%' }">
						</ngx-skeleton-loader>
					</div>
					<div class="text-appont">
						<ngx-skeleton-loader count="1"
							[theme]="{ height: '10px', width: '47%' }">
						</ngx-skeleton-loader>
					</div>
					<div class="row align-items-center">
						<div class="col-md-5 text-appont">
							<ngx-skeleton-loader count="1" [theme]="{ height: '12px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1"
								[theme]="{ height: '10px', width: '30%' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1"
								[theme]="{ height: '10px', width: '47%' }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-md-3 icons-dated">
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-md-4 text-xl-right btnsgrp-appointment">
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
						</div>
					</div>
				</div>
			</div>
			<div class="details-list">
				<div class="appointmen-list card mb-3">
					<div class="text-appont">
						<ngx-skeleton-loader count="1"
							[theme]="{ height: '12px', width: '30%' }">
						</ngx-skeleton-loader>
					</div>
					<div class="text-appont">
						<ngx-skeleton-loader count="1"
							[theme]="{ height: '10px', width: '47%' }">
						</ngx-skeleton-loader>
					</div>
					<div class="row align-items-center">
						<div class="col-md-5 text-appont">
							<ngx-skeleton-loader count="1" [theme]="{ height: '12px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1"
								[theme]="{ height: '10px', width: '30%' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1"
								[theme]="{ height: '10px', width: '47%' }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-md-3 icons-dated">
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-md-4 text-xl-right btnsgrp-appointment">
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
						</div>
					</div>
				</div>
			</div>
			<div class="details-list">
				<div class="appointmen-list card mb-3">
					<div class="text-appont">
						<ngx-skeleton-loader count="1"
							[theme]="{ height: '12px', width: '30%' }">
						</ngx-skeleton-loader>
					</div>
					<div class="text-appont">
						<ngx-skeleton-loader count="1"
							[theme]="{ height: '10px', width: '47%' }">
						</ngx-skeleton-loader>
					</div>
					<div class="row align-items-center">
						<div class="col-md-5 text-appont">
							<ngx-skeleton-loader count="1" [theme]="{ height: '12px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1"
								[theme]="{ height: '10px', width: '30%' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1"
								[theme]="{ height: '10px', width: '47%' }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-md-3 icons-dated">
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-md-4 text-xl-right btnsgrp-appointment">
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
						</div>
					</div>
				</div>
			</div>
			<div class="details-list">
				<div class="appointmen-list card mb-3">
					<div class="text-appont">
						<ngx-skeleton-loader count="1"
							[theme]="{ height: '12px', width: '30%' }">
						</ngx-skeleton-loader>
					</div>
					<div class="text-appont">
						<ngx-skeleton-loader count="1"
							[theme]="{ height: '10px', width: '47%' }">
						</ngx-skeleton-loader>
					</div>
					<div class="row align-items-center">
						<div class="col-md-5 text-appont">
							<ngx-skeleton-loader count="1" [theme]="{ height: '12px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1"
								[theme]="{ height: '10px', width: '30%' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1"
								[theme]="{ height: '10px', width: '47%' }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-md-3 icons-dated">
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-md-4 text-xl-right btnsgrp-appointment">
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
							<ngx-skeleton-loader count="1" [theme]="{ height: '10px' }">
							</ngx-skeleton-loader>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="" style="margin-top: 40px; height: 510px;" *ngIf="(scheduledPrevious$ | async) === undefined">
		<div class="row">
			<div class="col">
				<img class="img-center pt-3 pt-lg-5" src="assets/img/no-data.png" alt="No-Data">
				<p class="text-center" style="padding-right:32px;">No Record Found.</p>
			</div>
		</div>
	</div>
</div>