<header class="main_menu home_menu landing-menu">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg">
					<a class="navbar-brand" routerLinkActive="active" style="cursor: pointer;"
						routerLink="/home" *ngIf="!doctor && !facility">
						<img [defaultImage]="'assets/img/logo.png'" class="logo-white"
							[lazyLoad]="'assets/img/logo.png'"
							[errorImage]="'assets/img/logo.png'" alt="logo" height="70">
						<img [defaultImage]="'assets/img/logo-white.png'" class="logo-blue"
							[lazyLoad]="'assets/img/logo-white.png'"
							[errorImage]="'assets/img/logo-white.png'" alt="logo">
					</a>
					<a class="navbar-brand" routerLinkActive="active" style="cursor: pointer;"
						routerLink="/doctor/dashboard"
						[routerLinkActiveOptions]="{ exact: true }" *ngIf="doctor">
						<img [defaultImage]="'assets/img/logo.png'" class="logo-white"
							[lazyLoad]="'assets/img/logo.png'"
							[errorImage]="'assets/img/logo.png'" alt="logo" height="70">
						<img [defaultImage]="'assets/img/logo-white.png'" class="logo-blue"
							[lazyLoad]="'assets/img/logo-white.png'"
							[errorImage]="'assets/img/logo-white.png'" alt="logo"></a>
					<a class="navbar-brand" routerLinkActive="active" style="cursor: pointer;"
						routerLink="/facility/facility-dashboard"
						[routerLinkActiveOptions]="{ exact: true }" *ngIf="facility">
						<img [defaultImage]="'assets/img/logo.png'" class="logo-white"
							[lazyLoad]="'assets/img/logo.png'"
							[errorImage]="'assets/img/logo.png'" alt="logo" height="70">
						<img [defaultImage]="'assets/img/logo-white.png'" class="logo-blue"
							[lazyLoad]="'assets/img/logo-white.png'"
							[errorImage]="'assets/img/logo-white.png'" alt="logo"></a>
					<div class="loginmobile-button d-lg-none ml-auto" *ngIf="!doctor && !facility">
						<a style="padding:7px 12px;width:auto;"
							class="btn_2 headerloginbtn mr-1" (click)="openAsk()"
							data-toggle="modal"><span class="iconify"
								data-icon="oi-account-login"
								data-inline="false"></span></a>
						<a style="padding:4px 7px;width:auto;"
							class="btn_1 mt-0 ml-0 meetingbtn" href="#" data-toggle="modal"
							(click)="openRequest()"><svg width="30" version="1.0"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 512.000000 512.000000"
								preserveAspectRatio="xMidYMid meet">
								<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
									stroke="none">
									<path d="M155 5081 c-54 -25 -92 -62 -115 -113 -18 -40 -20 -70 -20 -489 l0
-447 28 -53 c42 -80 100 -113 209 -118 l83 -3 2 -1292 3 -1291 24 -60 c33 -82
124 -173 206 -206 l60 -24 733 -3 732 -3 0 -259 0 -260 -220 0 c-207 0 -221
-1 -240 -20 -19 -19 -20 -33 -20 -200 0 -167 1 -181 20 -200 20 -20 33 -20
1080 -20 1047 0 1060 0 1080 20 19 19 20 33 20 200 0 167 -1 181 -20 200 -19
19 -33 20 -240 20 l-220 0 0 260 0 260 713 0 c769 0 770 0 861 54 61 36 131
117 158 184 l23 57 0 1525 0 1525 -23 57 c-27 67 -97 148 -158 184 -78 46
-132 54 -359 54 l-210 1 -39 50 c-53 70 -168 165 -261 218 -95 55 -245 106
-348 120 -48 7 -318 11 -698 11 -594 0 -620 -1 -638 -19 -26 -26 -51 -145 -58
-273 l-6 -108 -118 0 -118 0 -3 163 c-3 162 -3 164 -33 212 -22 36 -45 57 -84
77 l-53 28 -847 0 c-800 0 -848 -1 -886 -19z m1730 -113 c54 -25 55 -31 55
-487 0 -304 -3 -427 -12 -446 -19 -43 -56 -55 -168 -55 -135 0 -140 -5 -140
-137 l0 -97 -118 117 -119 117 -582 0 c-631 0 -624 -1 -649 55 -18 39 -16 861
2 894 29 52 1 50 883 51 617 0 829 -3 848 -12z m1805 -78 c399 -63 704 -400
726 -800 3 -52 2 -115 -3 -140 l-8 -45 -53 -3 -52 -3 0 60 c0 80 -19 101 -92
101 -117 0 -253 53 -343 132 -24 21 -67 70 -95 108 -31 42 -62 73 -76 76 -19
5 -45 -6 -109 -45 -247 -152 -536 -245 -825 -266 l-95 -7 -48 61 c-153 194
-224 461 -187 700 l12 81 592 0 c354 0 617 -4 656 -10z m-1352 -477 c30 -117
98 -254 177 -358 51 -66 65 -92 65 -119 l0 -34 -83 -3 c-109 -5 -167 -38 -209
-118 l-28 -53 0 -207 c0 -221 8 -260 59 -305 19 -17 21 -29 21 -121 0 -93 3
-108 28 -156 42 -82 99 -113 213 -117 86 -4 88 -5 99 -33 18 -41 92 -106 136
-118 22 -6 76 -11 122 -11 l82 0 0 -77 0 -78 -308 -114 c-169 -63 -338 -130
-377 -149 -195 -97 -346 -244 -440 -430 l-37 -72 -699 0 -699 0 0 1060 0 1060
437 0 437 0 161 -160 c169 -167 187 -178 225 -140 18 18 20 33 20 160 l0 140
73 0 c81 0 135 20 181 66 61 61 66 85 66 342 l0 232 128 0 127 0 23 -87z
m2492 63 c49 -26 98 -74 123 -121 l22 -40 2 -1245 3 -1245 -29 50 c-80 138
-227 274 -381 353 -52 27 -233 100 -402 163 l-307 114 -1 91 0 90 70 48 c120
83 239 225 291 351 l23 55 100 0 c115 0 160 15 213 70 59 61 65 92 61 326 -3
229 -6 240 -68 301 l-31 30 12 69 c7 42 9 105 5 164 -8 133 -30 213 -103 388
-5 11 28 13 178 10 156 -2 189 -6 219 -22z m-1060 -357 c86 -84 203 -144 326
-167 l86 -16 -4 -316 c-5 -355 -8 -373 -91 -535 -57 -111 -181 -235 -292 -292
-127 -65 -211 -87 -340 -88 -60 0 -127 4 -148 8 l-38 8 25 30 c79 94 48 252
-62 316 -47 28 -48 28 -241 29 l-194 2 -23 45 c-13 25 -33 78 -45 119 -20 66
-23 101 -26 374 l-5 301 118 12 c279 28 595 131 799 259 l50 31 19 -27 c11
-15 49 -57 86 -93z m-1187 -566 c3 -126 9 -243 13 -260 l6 -33 -70 0 c-143 0
-152 16 -152 262 1 195 6 219 51 244 13 7 52 13 85 14 l62 0 5 -227z m1866
213 c45 -24 51 -51 51 -247 0 -243 -10 -259 -152 -259 -63 0 -69 2 -62 18 4 9
9 126 12 260 l4 242 60 0 c32 0 71 -6 87 -14z m-1778 -687 c31 -62 31 -62 13
-100 l-17 -39 -63 0 c-111 0 -144 32 -144 140 l0 60 90 0 90 0 31 -61z m494
-111 c29 -13 55 -55 55 -88 0 -33 -26 -75 -55 -88 -16 -7 -78 -12 -165 -12
-152 0 -183 8 -206 51 -26 51 -10 109 37 135 32 18 297 19 334 2z m62 -360
c63 -18 103 -22 213 -22 110 0 150 4 213 22 42 12 80 22 83 22 4 0 5 -42 2
-93 -3 -76 -9 -103 -31 -149 -52 -107 -144 -163 -267 -163 -123 0 -215 56
-267 163 -22 46 -28 73 -31 149 -3 51 -2 93 2 93 3 0 41 -10 83 -22z m-156
-280 c71 -154 262 -250 435 -221 131 23 252 111 303 221 14 29 30 52 37 52 6
0 154 -54 329 -119 336 -127 416 -167 521 -263 61 -56 126 -137 168 -210 l28
-48 -1452 0 -1452 0 27 48 c41 70 99 143 159 200 101 95 187 142 432 235 126
47 270 102 319 121 50 18 97 34 106 35 10 1 25 -19 40 -51z m1907 -875 c-3
-140 -6 -174 -22 -203 -26 -49 -74 -98 -121 -123 l-40 -22 -2075 0 -2075 0
-40 22 c-47 25 -95 74 -121 123 -16 29 -19 63 -22 203 l-4 167 2262 0 2262 0
-4 -167z m-1758 -733 l0 -260 -500 0 -500 0 0 260 0 260 500 0 500 0 0 -260z
m480 -480 l0 -100 -980 0 -980 0 0 100 0 100 980 0 980 0 0 -100z"></path>
									<path d="M520 4680 c-11 -11 -20 -29 -20 -40 0 -11 9 -29 20 -40 19 -19 33
-20 520 -20 487 0 501 1 520 20 25 25 25 55 0 80 -19 19 -33 20 -520 20 -487
0 -501 -1 -520 -20z"></path>
									<path d="M520 4360 c-11 -11 -20 -29 -20 -40 0 -11 9 -29 20 -40 19 -19 33
-20 520 -20 487 0 501 1 520 20 25 25 25 55 0 80 -19 19 -33 20 -520 20 -487
0 -501 -1 -520 -20z"></path>
									<path d="M795 3241 c-54 -24 -100 -72 -119 -123 -15 -38 -16 -98 -14 -494 l3
-451 30 -48 c22 -36 45 -57 84 -77 l53 -28 487 0 c541 0 529 -1 598 70 64 66
64 67 61 566 l-3 451 -30 48 c-22 36 -45 57 -84 77 l-53 28 -487 0 c-449 0
-489 -2 -526 -19z m1010 -113 c54 -25 55 -31 55 -487 0 -451 -1 -461 -51 -487
-41 -21 -937 -21 -978 0 -50 26 -51 35 -51 489 1 451 1 455 51 483 33 18 935
20 974 2z"></path>
									<path d="M1080 2920 c-19 -19 -20 -33 -20 -280 0 -247 1 -261 20 -280 11 -11
28 -20 38 -20 9 0 131 56 270 125 270 134 288 147 264 200 -9 19 -71 54 -264
150 -139 69 -261 125 -270 125 -10 0 -27 -9 -38 -20z m245 -207 c74 -37 135
-70 135 -73 0 -5 -265 -140 -275 -140 -3 0 -5 63 -5 140 0 77 2 140 5 140 3 0
66 -30 140 -67z"></path>
									<path d="M2985 3735 c-16 -15 -25 -36 -25 -55 0 -19 9 -40 25 -55 15 -16 36
-25 55 -25 19 0 40 9 55 25 16 15 25 36 25 55 0 19 -9 40 -25 55 -15 16 -36
25 -55 25 -19 0 -40 -9 -55 -25z"></path>
									<path d="M3785 3735 c-16 -15 -25 -36 -25 -55 0 -19 9 -40 25 -55 15 -16 36
-25 55 -25 19 0 40 9 55 25 16 15 25 36 25 55 0 19 -9 40 -25 55 -15 16 -36
25 -55 25 -19 0 -40 -9 -55 -25z"></path>
									<path d="M3400 3480 c-17 -17 -20 -33 -20 -120 0 -87 3 -103 20 -120 11 -11
29 -20 40 -20 11 0 29 9 40 20 17 17 20 33 20 120 0 87 -3 103 -20 120 -11 11
-29 20 -40 20 -11 0 -29 -9 -40 -20z"></path>
								</g>
							</svg></a>
					</div>
					<div class="loginmobile-button d-lg-none ml-auto" *ngIf="doctor">
						<a style="padding:7px 12px;width:auto;" class="btn_2 headerloginbtn"
							routerLink="/doctor/dashboard"
							[routerLinkActiveOptions]="{ exact: true }"
							data-toggle="modal"><span class="iconify"
								data-icon="icomoon-free:user-tie"
								data-inline="false"></span></a>
					</div>
					<div class="loginmobile-button d-lg-none ml-auto" *ngIf="facility">
						<a style="padding:7px 12px;width:auto;" class="btn_2 headerloginbtn"
							routerLink="/facility/facility-dashboard"
							[routerLinkActiveOptions]="{ exact: true }"
							data-toggle="modal"><span class="iconify"
								data-icon="icomoon-free:user-tie"
								data-inline="false"></span></a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation"><span
							class="navbar-toggler-icon"></span></button>
					<div class="collapse navbar-collapse main-menu-item justify-content-end"
						id="navbarSupportedContent">
						<ul class="navbar-nav align-items-center">
							<li class="nav-item" routerLinkActive="active"
								style="cursor: pointer;"><a class="nav-link"
									routerLink="/list-practice">List Your
									Practice</a></li>
							<li class="d-none d-lg-block" *ngIf="!doctor && !facility"><a
									class="btn_2" (click)="openAsk()"
									style="cursor: pointer;">Log in / Register</a>
							</li>
							<li class="d-none d-lg-block pl-0" *ngIf="!doctor && !facility">
								<a class="btn_1 ml-0 meetingbtn" (click)="openRequest()"
									style="cursor: pointer;">Request Demo</a>
							</li>
							<li class="d-none d-lg-block pl-0 list_practice" *ngIf="doctor">
								<a class="btn_1 ml-0 meetingbtn"
									style="cursor: pointer;"
									routerLink="/doctor/dashboard"
									[routerLinkActiveOptions]="{ exact: true }"><i
										class="ti-back-left d-inline-block"
										style="-webkit-transform: scaleY(-1);transform: scaleY(-1);font-size:16px;vertical-align:middle;"></i>Dashboard</a>
							</li>
							<li class="d-none d-lg-block pl-0 list_practice"
								*ngIf="facility"><a class="btn_1 ml-0 meetingbtn"
									style="cursor: pointer;"
									routerLink="/facility/facility-dashboard"
									[routerLinkActiveOptions]="{ exact: true }"><i
										class="ti-back-left d-inline-block"
										style="-webkit-transform: scaleY(-1);transform: scaleY(-1);font-size:16px;vertical-align:middle;"></i>Dashboard</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>

<section class="banner_part">
	<div class="container">
		<div class="banner-maintitle">
			<h1>Providers are also available for Televisit</h1>
		</div>
		<div class="client_review_part owl-carousel owl-loaded owl-drag banner-mainslider">
			<div class="owl-stage-outer">
				<div class="owl-stage">
					<div class="owl-item">
						<div class="row align-items-center banner-content">
							<div class="col-lg-6 col-xl-6">
								<div class="banner_text">
									<div class="banner_text_iner">
										<h1 class="wow fadeInUp"
											data-wow-delay="0.2s">Easy
											physician appointments</h1>
										<ul>
											<li class="wow fadeInUp"
												data-wow-delay="0.1s">
												Quick physician
												alignment round the
												clock.</li>
											<li class="wow fadeInUp"
												data-wow-delay="0.2s">
												Complete the follow-up
												appointment process
												through automatic
												reminders.
											</li>
											<li class="wow fadeInUp"
												data-wow-delay="0.3s">
												Choose top physicians
												based on real patient’s
												reviews.</li>
											<li class="wow fadeInUp"
												data-wow-delay="0.4s">
												Experience elite patient
												experience.</li>
										</ul>
										<a routerLink="/content/join-docs-time"
											class="btn_2 wow fadeInUp"
											data-wow-delay="0.6s">List your
											practice on DocsTime</a>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-xl-6">
								<div class=" wow fadeInUp" data-wow-delay="0.6s">
									<div class="banner_text_iner1">
										<img [defaultImage]="'assets/img/banner_img.png'"
											[lazyLoad]="'assets/img/banner_img.png'"
											[errorImage]="'assets/img/banner_img.png'"
											alt="Online Doctor Appointment System">
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="owl-item">
						<div class="row align-items-center banner-content">
							<div class="col-lg-6 col-xl-6">
								<div class="banner_text">
									<div class="banner_text_iner">
										<h1 class="wow fadeInUp"
											data-wow-delay="0.2s">Refer
											smartly</h1>
										<ul>
											<li class="wow fadeInUp"
												data-wow-delay="0.1s">
												Fill empty slots
												instantly.</li>
											<li class="wow fadeInUp"
												data-wow-delay="0.2s">
												Refer to specialists in
												moments.</li>
											<li class="wow fadeInUp"
												data-wow-delay="0.3s">
												Be a digital authority
												with patient reviews.
											</li>
											<li class="wow fadeInUp"
												data-wow-delay="0.4s">
												Mobile application to
												manage everything on the
												go.
											</li>
											<li class="wow fadeInUp"
												data-wow-delay="0.5s">
												Integrate smart
												Tele-Visit capabilities.
											</li>
											<li class="wow fadeInUp"
												data-wow-delay="0.6s">
												Let the application
												manage insurance
												compatibility.</li>
										</ul>
										<a routerLink="/content/join-docs-time"
											class="btn_2 wow fadeInUp"
											data-wow-delay="0.6s">List your
											practice on DocsTime</a>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-xl-6">
								<div class="wow fadeInUp" data-wow-delay="0.6s">
									<div class="banner_text_iner1">
										<img [defaultImage]="'assets/img/banner_img2.png'"
											[lazyLoad]="'assets/img/banner_img2.png'"
											[errorImage]="'assets/img/banner_img2.png'"
											alt="Online Doctor Appointment System">
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="owl-item">
						<div class="row align-items-center banner-content">
							<div class="col-lg-6 col-xl-6">
								<div class="banner_text">
									<div class="banner_text_iner">
										<h1 class="wow fadeInUp"
											data-wow-delay="0.2s">Access
											your facility from anywhere any
											time</h1>
										<ul>
											<li class="wow fadeInUp"
												data-wow-delay="0.1s">
												Empanel any number of
												providers.</li>
											<li class="wow fadeInUp"
												data-wow-delay="0.2s">
												Make unlimited
												referrals.</li>
											<li class="wow fadeInUp"
												data-wow-delay="0.3s">
												Smart EHR/EMR
												integration.</li>
											<li class="wow fadeInUp"
												data-wow-delay="0.4s">
												Reduce no-shows with
												smart reminders.</li>
										</ul>
										<a routerLink="/content/join-docs-time"
											class="btn_2 wow fadeInUp"
											data-wow-delay="0.6s">List your
											practice on DocsTime</a>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-xl-6">
								<div class=" wow fadeInUp" data-wow-delay="0.6s">
									<div class="banner_text_iner1">
										<img [defaultImage]="'assets/img/banner_img3.png'"
											[lazyLoad]="'assets/img/banner_img3.png'"
											[errorImage]="'assets/img/banner_img3.png'"
											alt="Online Doctor Appointment System">
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="review_part bookapoinment-content">
	<div class="container">
		<div class="">

			<div class=" wow fadeInRight" data-wow-delay="0.6s">
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="our_ability_img  wow fadeInLeft" data-wow-delay="0.6s">
							<img [defaultImage]="'assets/img/Appointment.png'"
								[lazyLoad]="'assets/img/Appointment.png'"
								[errorImage]="'assets/img/Appointment.png'"
								alt="Online Doctor Appointment System">
						</div>
					</div>
					<div class="col-md-5">
						<h3> Book an appointment</h3>
						<div class="client_review_single">
							<div class="client_review_text">
								<p>The patient selects an available time slot and books
									an appointment. You are notified instantly; and
									the patient gets appointment reminders by email
									and text.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row align-items-center">
					<div class="col-md-5">
						<h3> Get discovered by patients</h3>
						<div class="client_review_single">
							<div class="client_review_text">
								<ul>
									<li>Based on insurance, available appointment
										times, location, etc.</li>
									<li>Tele-Visits.</li>
									<li>Reduce no-shows and cancellations with
										patient reminders.</li>
									<li>Accurate patient reviews.</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="our_ability_img wow fadeInLeft" data-wow-delay="0.6s">
							<img [defaultImage]="'assets/img/discovered-patients.png'"
								[lazyLoad]="'assets/img/discovered-patients.png'"
								[errorImage]="'assets/img/discovered-patients.png'"
								alt="Online Doctor Appointment System">
						</div>
					</div>
				</div>

				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="our_ability_img wow fadeInLeft" data-wow-delay="0.6s">
							<img [defaultImage]="'assets/img/smart-referral.png'"
								[lazyLoad]="'assets/img/smart-referral.png'"
								[errorImage]="'assets/img/smart-referral.png'"
								alt="Online Doctor Appointment System">
						</div>
					</div>
					<div class="col-md-5">
						<h3> Smart referral grid </h3>
						<div class="client_review_single">
							<div class="client_review_text">
								<ul>
									<li>Instantly refer patients to specialists.
									</li>
									<li>Paperless transaction through digital
										communications and EHR integration.</li>
									<li>Get referrals to fill your available slots.
									</li>
									<li>Online Doctor Appointment in USA.</li>
									<li>Family Physicians Appointment Booking
										System.</li>
									<li>Primary Care Physicians Appointment Booking.
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="top_service padding_bottom">
	<div class="container">
		<div class="section_title text-center" style="font-color:#0097f6;">
			<h2 class="wow fadeIn" data-wow-delay="0.6s"> Why shift to DocsTime?</h2>
		</div>
		<div class="row justify-content-between align-items-center">
			<div class="col-md-6 col-lg-5">
				<div class="our_ability_img text-center wow fadeInUp" data-wow-delay="0.6s">
					<img [defaultImage]="'assets/img/top_service.png'"
						[lazyLoad]="'assets/img/top_service.png'"
						[errorImage]="'assets/img/top_service.png'"
						alt="Online Doctor Appointment System" style="max-height:500px;">
				</div>
			</div>
			<div class="col-md-6 col-lg-7">
				<div class="content3">
					<div class="content2 wow fadeInUp" data-wow-delay="0.2s">
						<div class="pt-2"><img [defaultImage]="'assets/img/1.png'"
								[lazyLoad]="'assets/img/1.png'"
								[errorImage]="'assets/img/1.png'"
								alt="Online Doctor Appointment System" class="icontype">
						</div>
						<div class="textcontent">
							<div class="text">Discover the discovery grid. Make your profile
								discoverable amongst 331,288,117 patients
								instantly. Do not miss a single potential patient. Fill
								all your available slots almost instantly.
							</div>
						</div>
					</div>

					<div class="content2 wow fadeInUp" data-wow-delay="0.4s">
						<div class="pt-1"><img [defaultImage]="'assets/img/2.png'"
								[lazyLoad]="'assets/img/2.png'"
								[errorImage]="'assets/img/2.png'"
								alt="Online Doctor Appointment System" class="icontype">
						</div>
						<div class="textcontent">
							<div class="text"> Get rid of the traditional phone tagging.
								Forget the hassles
								of phone and fax forever. Let the AI empowered mobile
								application manage your E-Referrals. Choose from 3
								million providers to refer to. You focus on what really
								matters – "The Patients". </div>
						</div>
					</div>

					<div class="content2 wow fadeInUp" data-wow-delay="0.6s">
						<div><img [defaultImage]="'assets/img/3.png'"
								[lazyLoad]="'assets/img/3.png'"
								[errorImage]="'assets/img/3.png'"
								alt="Online Doctor Appointment System" class="icontype">
						</div>
						<div class="textcontent">
							<div class="text">Simplify administration. Make use of smart
								calendars. Also, engage your patients with
								automated communication. Send reminders via email, text,
								and app notifications. Hence, let your office
								focus on
								what really matters – "Personalized human attention."
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="wow fadeInUp" data-wow-delay="0.2s">
				<div class="textcontent">
					<div class="text">You are certainly leading a hectic life, with little or no
						time to invest in researching the best services and products. There are
						a lot of things you must be compromising on but when it comes to health,
						one simply cannot compromise at any cost. Researching the right doctor
						or knowing whether doctors accepting new patients in USA or not can be a
						daunting task for many, especially in the case of emergencies. If you
						wish to place top primary care physicians appointment booking in no
						time, then all you need to do is visit Docstime. Our website and app has
						been specifically designed to assist you in the most appropriate manner
						in the time of need. </div><br>
					<div class="text"> We are also a great tool for doctors who are running private
						practices and often struggle in assuring patients keep their
						appointment. You can simply list yourself with us and we will take you
						straight to the patients that need your assistance. Once the online
						doctor appointment in USA is booked, Docstime keep the patients updated
						with their appointment times and location reminder. We are a well known
						online doctor appointment system website USA that has been helping
						patients and physicians stay connected. </div><br>
					<div class="text">The digital communication, right from child specialist doctor
						online appointment US to getting referrals, everything will happen
						without using paper. The patient and doctor can easily stay on the same
						page and pay attention on better treatment procedure. Online doctor
						appointment system USA can easily end all your worries and ensure you
						get the best medical aid in the least amount of time possible. </div>
					<br>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="regervation_part wow fadeInUp" data-wow-delay="0.6s">
	<div class="container">
		<div class="row align-items-center regervation_content">
			<div class="col-lg-2 col-md-2"></div>
			<div class="col-lg-8 col-md-8">
				<div class="regervation_part_iner">
					<form class="form-contact contact_form" [formGroup]="joinUs" id="contactForm"
						novalidate="novalidate">
						<h2 class="text-center">Join DocsTime now</h2>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="Fname"
									style="float:left;font-size: 16px;">Full
									name</label>
								<!--<input type="Fname" class="form-control" id="Fname">-->
								<input type="text" id="signonnamed"
									oninput="this.value = this.value.replace(/^\s+/g, '')"
									formControlName="joinName" class="form-control"
									name="signonname" autocomplete="off"
									placeholder="Name*" required />
								<small class="text-danger"
									*ngIf="joinUs.controls['joinName'].hasError('required') && (joinUs.controls['joinName'].dirty || joinUs.controls['joinName'].touched)">Please
									enter name.</small>
								<small class="text-danger"
									*ngIf="joinUs.controls['joinName'].hasError('maxlength')">Input
									fields will not be more than 40
									characters.</small>
								<small class="text-danger small"
									*ngIf="joinUs.controls['joinName'].hasError('pattern') && (joinUs.controls['joinName'].dirty || joinUs.controls['joinName'].touched)">Only
									Alphabets are allowed.</small>
							</div>
							<div class="form-group col-md-6">
								<label for="email"
									style="float:left;font-size: 16px;">Email</label>
								<!--<input type="email" class="form-control" id="email">-->
								<input type="email" id="emailided"
									oninput="this.value = this.value.replace(/^\s+/g, '')"
									formControlName="joinEmail" class="form-control"
									name="email" autocomplete="off"
									placeholder="Email address*" required />
								<small class="text-danger"
									*ngIf="joinUs.controls['joinEmail'].hasError('pattern') && (joinUs.controls['joinEmail'].dirty || joinUs.controls['joinEmail'].touched )">Please
									enter valid email.</small>
								<small class="text-danger small"
									*ngIf="joinUs.controls['joinEmail'].hasError('required') && (joinUs.controls['joinEmail'].dirty || joinUs.controls['joinEmail'].touched)">Please
									enter email.</small>
							</div>
							<div class="form-group col-md-6">
								<label for="phone"
									style="float:left;font-size: 16px;">Phone
									number</label>
								<!--<input type="phone" class="form-control" id="phone">-->
								<input type="text" id="mobilese"
									oninput="this.value = this.value.replace(/^\s+/g, '')"
									formControlName="joinMobile" maxlength="10"
									class="form-control" name="mobile"
									autocomplete="off" placeholder="Phone number*"
									required />
								<small class="text-danger small"
									*ngIf=" joinUs.controls['joinMobile'].hasError('required') && (joinUs.controls['joinMobile'].dirty || joinUs.controls['joinMobile'].touched)">Please
									enter Phone number.</small>
								<small class="text-danger small"
									*ngIf="joinUs.controls['joinMobile'].hasError('pattern') && (joinUs.controls['joinMobile'].dirty || joinUs.controls['joinMobile'].touched)">Phone
									number must be only 10 digits.</small>
							</div>
							<div class="form-group col-md-6">
								<label for="form-control"
									style="float:left;font-size: 16px;">Your primary
									speciality</label>
								<ng-select [closeOnSelect]="true" appearance="outline"
									[searchable]="true"
									placeholder="Select speciality*"
									formControlName="joinSpeciality" class="custom"
									name="specialityName">
									<ng-option
										*ngFor="let spec of (specialityList$ | async)"
										[value]="spec.specialityName">
										{{spec.specialityName}}</ng-option>
								</ng-select>
								<small class="text-danger small"
									*ngIf="joinUs.controls['joinSpeciality'].hasError('required') && (joinUs.controls['joinSpeciality'].dirty || joinUs.controls['joinSpeciality'].touched)">Please
									Select speciality.</small>
							</div>
							<div class="form-group time_icon col-md-6">
								<label for="zip"
									style="float:left;font-size: 16px;">Address</label>
								<!--<input type="zip" class="form-control" id="zip">-->
								<input class="form-control pac-target-input"
									ngx-google-places-autocomplete
									[options]='options' #placesRef="ngx-places"
									(onAddressChange)="handleAddressChange($event)"
									oninput="this.value = this.value.replace(/^\s+/g, '')"
									formControlName="joinAddress" name="address"
									id="zipaddr" type="text" placeholder="Address*">
								<small class="text-danger"
									*ngIf="joinUs.controls['joinAddress'].hasError('required') && (joinUs.controls['joinAddress'].dirty || joinUs.controls['joinAddress'].touched)">Please
									enter address.</small>
							</div>
							<div class="form-group time_icon col-md-6">
								<label for="city"
									style="float:left;font-size: 16px;">City</label>
								<!--<input type="zip" class="form-control" id="zip">-->
								<input class="form-control pac-target-input"
									oninput="this.value = this.value.replace(/^\s+/g, '')"
									formControlName="joinCity" name="address"
									id="city" type="text" placeholder="City*"
									autocomplete="off">
								<small class="text-danger"
									*ngIf="joinUs.controls['joinCity'].hasError('required') && (joinUs.controls['joinCity'].dirty || joinUs.controls['joinCity'].touched)">Please
									enter city.</small>
							</div>
							<div class="form-group time_icon col-md-6">
								<label for="state"
									style="float:left;font-size: 16px;">State</label>
								<!--<input type="zip" class="form-control" id="zip">-->
								<input class="form-control pac-target-input"
									oninput="this.value = this.value.replace(/^\s+/g, '')"
									formControlName="joinState" name="address"
									id="state" type="text" placeholder="State*"
									autocomplete="off">
								<small class="text-danger"
									*ngIf="joinUs.controls['joinState'].hasError('required') && (joinUs.controls['joinState'].dirty || joinUs.controls['joinState'].touched)">Please
									enter state.</small>
							</div>
							<div class="form-group time_icon col-md-6">
								<label for="zipc"
									style="float:left;font-size: 16px;">ZIP
									code</label>
								<!--<input type="zip" class="form-control" id="zip">-->
								<input class="form-control pac-target-input"
									maxlength="5"
									oninput="this.value = this.value.replace(/^\s+/g, '')"
									formControlName="joinZip" name="address"
									id="zipc" type="text" placeholder="Zip code*"
									autocomplete="off">
								<small class="text-danger"
									*ngIf="joinUs.controls['joinZip'].hasError('required') && (joinUs.controls['joinZip'].dirty || joinUs.controls['joinZip'].touched)">Please
									enter zip code.</small>
								<small class="text-danger small"
									*ngIf="joinUs.controls['joinZip'].hasError('pattern') && (joinUs.controls['joinZip'].dirty || joinUs.controls['joinZip'].touched)">zip
									code must be 5 digits.</small>
							</div>
						</div>
						<div class="regerv_btn text-center">
							<button type="button" (click)="onSubmit(joinUs.value)"
								class="regerv_btn_iner btn">Submit</button>
							<!--<a href="#" class="regerv_btn_iner">Submit</a>-->
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-2 col-md-2"></div>
		</div>
	</div>
</section>
<!---------------------------- Testimonial -------------------->
<section id="testimonials" class="testimonials pt-4 ">
	<div class="container">
		<div class="section-title">
			<!--<h3>Testimonials</h3>-->
			<h2>Look what Clients have to say about us.</h2>
			<p>Our award winning reputation & achievement is founded on exceeding the expectation of our
				clients.</p>
		</div>
		<div class="owl-carousel testimonials-carousel">
			<div class="testimonial-items">
				<p><img class="quoteacons" style="width: 35px;" [defaultImage]="'assets/img/quote.png'"
						[lazyLoad]="'assets/img/quote.png'"
						[errorImage]="'assets/img/quote.png'" alt="quote">
					<span style="padding-left:43px;" class="position-relative"> schedule throughout
						the week. I often skip my
						appointments because of prior
						commitments. This has resulted in many complications in the past.
						However, with DocsTime I was able to
						schedule appointments just any time of the day. I could choose my
						physician as a time I could manage to
						visit. In fact, DocsTime helps you find doctors in your immediate
						vicinity.</span>
					<b>– David ******</b>
				</p>
				<img [defaultImage]="'assets/img/user-icon.png'" [lazyLoad]="'assets/img/user-icon.png'"
					[errorImage]="'assets/img/user-icon.png'" class="testimonial-img" alt="">
			</div>
			<div class="testimonial-items">
				<p><img class="quoteacons" style="width: 35px;" [defaultImage]="'assets/img/quote.png'"
						[lazyLoad]="'assets/img/quote.png'"
						[errorImage]="'assets/img/quote.png'" alt="quote">
					<span style="padding-left:43px;" class="position-relative">I visited my PCP for
						abdominal pain. My doctor told
						me that I need to see
						Gastroenterologist. Earlier I used to call multiple offices to schedule
						an appointment that suites my time.
						First thing it was difficult to reach them on the phone right away
						second thing even if I am able to catch
						hold of them I am unable to schedule the time I need. With DocsTime app
						I was able to get an appointment
						with the best specialists around with in minuites. Thanks for the
						features provided.</span> <b>"Ellen"</b>
				</p>
				<img [defaultImage]="'assets/img/user-icon.png'" [lazyLoad]="'assets/img/user-icon.png'"
					[errorImage]="'assets/img/user-icon.png'" class="testimonial-img" alt="">
			</div>
			<div class="testimonial-items">
				<p><img class="quoteacons" style="width: 35px;" [defaultImage]="'assets/img/quote.png'"
						[lazyLoad]="'assets/img/quote.png'"
						[errorImage]="'assets/img/quote.png'" alt="quote">
					<span style="padding-left:43px;" class="position-relative">I visited my PCP for
						abdominal pain. My doctor told
						me that I need to see
						Gastroenterologist. Earlier I used to call multiple offices to schedule
						an appointment that suites my time.
						First thing it was difficult to reach them on the phone right away
						second thing even if I am able to catch
						hold of them I am unable to schedule the time I need. With DocsTime app
						I was able to get an appointment
						with the best specialists around with in minuites. Thanks for the
						features provided.</span> <b>"Ally"</b>
				</p>
				<img [defaultImage]="'assets/img/user-icon.png'" [lazyLoad]="'assets/img/user-icon.png'"
					[errorImage]="'assets/img/user-icon.png'" class="testimonial-img" alt="">
			</div>
			<div class="testimonial-items">
				<p><img class="quoteacons" style="width: 35px;" [defaultImage]="'assets/img/quote.png'"
						[lazyLoad]="'assets/img/quote.png'"
						[errorImage]="'assets/img/quote.png'" alt="quote">
					<span style="padding-left:43px;" class="position-relative">I visited my PCP for
						abdominal pain. My doctor told
						me that I need to see
						Gastroenterologist. Earlier I used to call multiple offices to schedule
						an appointment that suites my time.
						First thing it was difficult to reach them on the phone right away
						second thing even if I am able to catch
						hold of them I am unable to schedule the time I need. With DocsTime app
						I was able to get an appointment
						with the best specialists around with in minuites. Thanks for the
						features provided.</span> <b>"Ally"</b>
				</p>
				<img [defaultImage]="'assets/img/user-icon.png'" [lazyLoad]="'assets/img/user-icon.png'"
					[errorImage]="'assets/img/user-icon.png'" class="testimonial-img" alt="">
			</div>
			<div class="testimonial-items">
				<p><img class="quoteacons" style="width: 35px;" [defaultImage]="'assets/img/quote.png'"
						[lazyLoad]="'assets/img/quote.png'"
						[errorImage]="'assets/img/quote.png'" alt="quote">
					<span style="padding-left:43px;" class="position-relative">I visited my PCP for
						abdominal pain. My doctor told
						me that I need to see
						Gastroenterologist. Earlier I used to call multiple offices to schedule
						an appointment that suites my time.
						First thing it was difficult to reach them on the phone right away
						second thing even if I am able to catch
						hold of them I am unable to schedule the time I need. With DocsTime app
						I was able to get an appointment
						with the best specialists around with in minuites. Thanks for the
						features provided.</span> <b>"Ally"</b>
				</p>
				<img [defaultImage]="'assets/img/user-icon.png'" [lazyLoad]="'assets/img/user-icon.png'"
					[errorImage]="'assets/img/user-icon.png'" class="testimonial-img"
					alt="Online Doctor Appointment System">
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>

<ngx-spinner [fullScreen]="true" color="#fff" type="" bdColor="rgba(0, 0, 0, 0.9)">
	<div class="loader">
		<img class="logo-icon" [defaultImage]="'assets/img/favicon.png'" [lazyLoad]="'assets/img/favicon.png'"
			[errorImage]="'assets/img/favicon.png'" alt="DocsTime"><span>Loading...</span>
	</div>
</ngx-spinner>