<body class="dashbord-section">
	<div class="spacetop"></div>
	<section class="section-dashbord overflow-hidden">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-8 appointment-conten order-2 order-lg-1 pt-3">
					<div class="title-dashbord d-flex">
						<h4 class="text-dark">{{fullDate | date: 'fullDate'}}</h4>
						<div class="ml-auto">
							<div class="d-flex">
								<app-shared-filter [component]="'home'"
									(filter)="onAppliedFilter($event)"
									(resetFilter)="onResetFilter()"
									*ngIf="isToday || isOther"></app-shared-filter>
								<a (click)="navigateToMySchedule()"
									class="viewall-btn mb-0 ml-3"
									style="cursor: pointer;"
									*ngIf="(today$ | async)?.length > 0">View All<i
										class="ti-angle-right"></i></a>
							</div>
						</div>
					</div>
					<div class="selected-users">
						<div *ngIf="today$ | async as today" class="wow fadeInRight"
							data-wow-delay="0.2s">
							<owl-carousel-o [options]="caseOptions">
								<ng-template carouselSlide
									*ngFor="let appoint of today | sortByTime">
									<app-shared-today-appointments
										[patientFirstName]="appoint.patientFirstName ? appoint.patientFirstName : ''"
										[patientLastName]="appoint.patientLastName ? appoint.patientLastName : ''"
										[reasonName]="appoint.reasonName ? appoint.reasonName : appoint.reasonNames ? appoint.reasonNames : ''"
										[patientGender]="appoint.patientGender ? appoint.patientGender : ''"
										[age]="appoint.age ? appoint.age : '0'"
										[refSpecialityName]="appoint.insuranceNames ? appoint.insuranceNames : ''"
										[refercaseVisitDate]="appoint.refercaseVisitDate ? appoint.refercaseVisitDate : ''"
										[refercaseVisitTime]="appoint.refercaseVisitTime !== null && appoint.refercaseVisitTime !== undefined ? appoint.refercaseVisitTime : ''"
										[refercaseStatus]="appoint.refercaseStatus ? appoint.refercaseStatus : ''"
										[wholeOBject]="appoint"
										(view)="showReferralClick($event)">
									</app-shared-today-appointments>
								</ng-template>
							</owl-carousel-o>
						</div>
						<div class="" style="margin-top: 0px;"
							*ngIf="(today$ | async) === null">
							<div class="row">
								<div class="col-md-6">
									<ngx-skeleton-loader count="1"
										[theme]="{ height: '95px', 'margin-bottom': '0px' }">
									</ngx-skeleton-loader>
								</div>
								<div class="col-md-6">
									<ngx-skeleton-loader count="1"
										[theme]="{ height: '95px', 'margin-bottom': '0px' }">
									</ngx-skeleton-loader>
								</div>
							</div>
						</div>
						<div class="" style="margin-top: 20px; margin-bottom: 1rem;"
							*ngIf="(today$ | async)?.length === 0">
							<div class="row">
								<div class="col">
									<p class="text-center sb-text mb-0"
										style="line-height:normal">No docstime
										referrals today</p>
									<p class="text-center"
										style="line-height: normal;">Currently
										we have nothing to show</p>
								</div>
							</div>
						</div>
					</div>
					<div class="title-dashbord d-flex" style="margin-top: 20px;">
						<h4 class="text-dark">New Appointments</h4>
						<div class="ml-auto" *ngIf="(other$ | async)?.length > 0"><a
								(click)="navigateToreferralReceived()"
								class="viewall-btn" style="cursor: pointer;">View All<i
									class="ti-angle-right"></i></a></div>
					</div>
					<div class="appointmen-content" *ngIf="other$ | async as otherLists">
						<div class="details-list"
							*ngFor="let appoint of otherLists | slice:0:show">
							<div infinite-scroll [infiniteScrollDistance]="scrollDistance"
								[infiniteScrollThrottle]="throttle"
								[scrollWindow]="true" (scrolled)="onScrollEnd()">
								<app-share-new-appointments
									[patientFirstName]="appoint.patientFirstName ? appoint.patientFirstName : ''"
									[patientLastName]="appoint.patientLastName ? appoint.patientLastName : ''"
									[reasonName]="appoint.reasonName ? appoint.reasonName : appoint.reasonNames ? appoint.reasonNames : ''"
									[patientGender]="appoint.patientGender ? appoint.patientGender : ''"
									[age]="appoint.age ? appoint.age : '0'"
									[refercaseID]="appoint.refercaseID ? appoint.refercaseID : ''"
									[facilityID]="appoint.facilityID ? appoint.facilityID : ''"
									[refercaseUrgent]="appoint.refercaseUrgent ? appoint.refercaseUrgent : ''"
									[refDocName]="appoint.refDocName ? appoint.refDocName : ''"
									[refercaseSentTZID]="appoint.refercaseSentTZID ? appoint.refercaseSentTZID : ''"
									[refSpecialityName]="appoint.insuranceNames ? appoint.insuranceNames : ''"
									[specialityName]="appoint.refSpecialityName ? appoint.refSpecialityName : ''"
									[refercaseVisitDate]="appoint.refercaseVisitDate ? appoint.refercaseVisitDate : ''"
									[refercaseVisitTime]="appoint.refercaseVisitTime !== null && appoint.refercaseVisitTime !== Undefined && appoint.refercaseVisitTime !== '' ? appoint.refercaseVisitTime : ''"
									[refercaseStatus]="appoint.refercaseStatus ? appoint.refercaseStatus : ''"
									[wholeOBject]="appoint"
									(view)="showReferralClick($event)"
									(updateView)="forceReload()"
									(updateViewToday)="forceReloadToday()">
								</app-share-new-appointments>
							</div>
						</div>
						<div class="row" style="min-height: 350px;"
							*ngIf="otherLists.length > 0 && otherLists.length <= 2">
							<div class="col-12">
								<div class="text-center">
									<p></p>
								</div>
							</div>
						</div>
						<div class="row" style="min-height: 300px;"
							*ngIf="otherLists.length > 0 && otherLists.length === 3">
							<div class="col-12">
								<div class="text-center">
									<p></p>
								</div>
							</div>
						</div>
					</div>
					<div class="" style="margin-top: 5px;" *ngIf="(other$ | async) === null">
						<div class="appointmen-content appoinment-show appointmen-referral">
							<div class="details-list">
								<div class="appointmen-list card mb-3">
									<div class="text-appont">
										<ngx-skeleton-loader count="1"
											[theme]="{ height: '12px', width: '30%' }">
										</ngx-skeleton-loader>
									</div>
									<div class="text-appont">
										<ngx-skeleton-loader count="1"
											[theme]="{ height: '10px', width: '47%' }">
										</ngx-skeleton-loader>
									</div>
									<div class="row align-items-center">
										<div class="col-md-5 text-appont">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '12px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px', width: '30%' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px', width: '47%' }">
											</ngx-skeleton-loader>
										</div>
										<div class="col-md-3 icons-dated">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
										</div>
										<div
											class="col-md-4 text-xl-right btnsgrp-appointment">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
										</div>
									</div>
								</div>
							</div>
							<div class="details-list">
								<div class="appointmen-list card mb-3">
									<div class="text-appont">
										<ngx-skeleton-loader count="1"
											[theme]="{ height: '12px', width: '30%' }">
										</ngx-skeleton-loader>
									</div>
									<div class="text-appont">
										<ngx-skeleton-loader count="1"
											[theme]="{ height: '10px', width: '47%' }">
										</ngx-skeleton-loader>
									</div>
									<div class="row align-items-center">
										<div class="col-md-5 text-appont">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '12px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px', width: '30%' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px', width: '47%' }">
											</ngx-skeleton-loader>
										</div>
										<div class="col-md-3 icons-dated">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
										</div>
										<div
											class="col-md-4 text-xl-right btnsgrp-appointment">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
										</div>
									</div>
								</div>
							</div>
							<div class="details-list">
								<div class="appointmen-list card mb-3">
									<div class="text-appont">
										<ngx-skeleton-loader count="1"
											[theme]="{ height: '12px', width: '30%' }">
										</ngx-skeleton-loader>
									</div>
									<div class="text-appont">
										<ngx-skeleton-loader count="1"
											[theme]="{ height: '10px', width: '47%' }">
										</ngx-skeleton-loader>
									</div>
									<div class="row align-items-center">
										<div class="col-md-5 text-appont">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '12px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px', width: '30%' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px', width: '47%' }">
											</ngx-skeleton-loader>
										</div>
										<div class="col-md-3 icons-dated">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
										</div>
										<div
											class="col-md-4 text-xl-right btnsgrp-appointment">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
										</div>
									</div>
								</div>
							</div>
							<div class="details-list">
								<div class="appointmen-list card mb-3">
									<div class="text-appont">
										<ngx-skeleton-loader count="1"
											[theme]="{ height: '12px', width: '30%' }">
										</ngx-skeleton-loader>
									</div>
									<div class="text-appont">
										<ngx-skeleton-loader count="1"
											[theme]="{ height: '10px', width: '47%' }">
										</ngx-skeleton-loader>
									</div>
									<div class="row align-items-center">
										<div class="col-md-5 text-appont">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '12px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px', width: '30%' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px', width: '47%' }">
											</ngx-skeleton-loader>
										</div>
										<div class="col-md-3 icons-dated">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
										</div>
										<div
											class="col-md-4 text-xl-right btnsgrp-appointment">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
										</div>
									</div>
								</div>
							</div>
							<div class="details-list">
								<div class="appointmen-list card mb-3">
									<div class="text-appont">
										<ngx-skeleton-loader count="1"
											[theme]="{ height: '12px', width: '30%' }">
										</ngx-skeleton-loader>
									</div>
									<div class="text-appont">
										<ngx-skeleton-loader count="1"
											[theme]="{ height: '10px', width: '47%' }">
										</ngx-skeleton-loader>
									</div>
									<div class="row align-items-center">
										<div class="col-md-5 text-appont">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '12px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px', width: '30%' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px', width: '47%' }">
											</ngx-skeleton-loader>
										</div>
										<div class="col-md-3 icons-dated">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
										</div>
										<div
											class="col-md-4 text-xl-right btnsgrp-appointment">
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
											<ngx-skeleton-loader count="1"
												[theme]="{ height: '10px' }">
											</ngx-skeleton-loader>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="" style="margin-top: 20px; height: 500px;"
						*ngIf="(other$ | async)?.length === 0">
						<div class="row">
							<div class="col">
								<img class="img-center pt-3 pt-lg-5"
									src="assets/img/no-data.png" alt="No-Data">
								<p class="text-center sb-text"
									style="padding-right:32px; line-height:normal">
									No new DocsTime referrals.
								</p>
								<p class="text-center"
									style="padding-right:28px; line-height:normal">
									Currently we have nothing to show
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 uploadfile-conten order-1 order-lg-2 card"
					style="border-radius:0;">
					<app-share-datetimepicker [from]="'Dashboard'"></app-share-datetimepicker>
				</div>
			</div>
		</div>
	</section>
	<br>
</body>